//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "main";

.right-sidebar-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
  }

p.offence-class {
  color: $govuk-secondary-text-colour;
}

p.conflict-codefendant-name {
  color: $govuk-secondary-text-colour;
}

.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}

@import "moj/key-details-bar"; // HMPPS Blue banner