{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Outgoings assessment</span>
        <h1 class="govuk-heading-xl">Board and lodging payments</h1>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          id: "cost-for-food",
          name: "costForFood",
          label: {
            text: "How much of this payment includes food?",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
              name: "paymentFrequency",
              fieldset: {
                legend: {
                  text: "Select how often they pay this",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "every week",
                  text: "Every week"
                },
                {
                  value: "every 2 weeks",
                  text: "Every 2 weeks"
                },
                {
                  value: "every 4 weeks",
                  text: "Every 4 weeks"
                },
                {
                  value: "monthly",
                  text: "Monthly"
                },
                {
                  value: "total in the last 3 months",
                  text: "Total in the last 3 months"
                }
              ]
            }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Who do they pay this to?",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            classes: "govuk-!-width-three-quarters",
            id: "event-name",
            name: "eventName"
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "What is their relationship to the person they pay this to?",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            classes: "govuk-!-width-three-quarters",
            id: "event-name",
            name: "eventName"
          }) }}


          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: "/outgoings-assessment/income-tax-rate"
            }) }}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
