{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Outgoings assessment</span>
        <h1 class="govuk-heading-xl">Are your client’s outgoings more than their income?</h1>

        {% set details %}
            {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
              name: "details",
              id: "details",
              label: {
                text: "How does your client manage if their outgoings are more than their income?",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              hint: {
                text: ""
              }
            }) }}
        {% endset -%}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "outgoingsExceedIncome",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                  html: details
                }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: "/outgoings-assessment/check-answers"
            }) }}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
