{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Outgoings assessment</span>
        <h1 class="govuk-heading-xl">Check your answers</h1>
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        <h2 class="govuk-heading-l">Your client’s outgoings</h2>

<!--Payments your client pays-->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Payments your client pays</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Board and lodging
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £50 every month
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="payments-your-client-pays">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    More about board and lodging payments
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Paid to John Doe<br>
                    (client’s father)<br>
                    Includes £25 on food every week
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="board-and-lodging">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

<!--Tax paid-->
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Tax paid</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="income-tax-rate">
                    Change<span class="govuk-visually-hidden"> payments</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    In the last 2 years, has your client paid the 40% income tax rate?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
              </dl>
            </div>
          </div>

<!--Other outgoings-->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Other outgoings</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="outgoings-exceed-income">
                    Change<span class="govuk-visually-hidden"> payments</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Are your client’s outgoings more than their income?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    How does your client manage if their outgoings are more than their income?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    They have a credit card to pay for expenses
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: "#"
            }) }}

           {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
