{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Outgoings assessment</span>
        <h1 class="govuk-heading-xl">Which of these payments does your client pay?</h1>

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {% set amountFREQUENCY %}
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              id: "payment-amount",
              name: "paymentAmount",
              label: {
                text: "Enter amount",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              prefix: {
                text: "£"
              },
              classes: "govuk-input--width-10",
              spellcheck: false
            }) }}

            {{ govukRadios({
              name: "paymentFrequency",
              fieldset: {
                legend: {
                  text: "Select how often they pay this",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "every week",
                  text: "Every week"
                },
                {
                  value: "every 2 weeks",
                  text: "Every 2 weeks"
                },
                {
                  value: "every 4 weeks",
                  text: "Every 4 weeks"
                },
                {
                  value: "monthly",
                  text: "Monthly"
                },
                {
                  value: "yearly",
                  text: "Yearly"
                }
              ]
            }) }}
          {% endset -%}


          {% set amountFREQUENCYreference %}
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              id: "payment-amount",
              name: "paymentAmount",
              label: {
                text: "Enter amount",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              prefix: {
                text: "£"
              },
              classes: "govuk-input--width-10",
              spellcheck: false
            }) }}

            {{ govukRadios({
              name: "paymentFrequency",
              fieldset: {
                legend: {
                  text: "Select how often they pay this",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "every week",
                  text: "Every week"
                },
                {
                  value: "every 2 weeks",
                  text: "Every 2 weeks"
                },
                {
                  value: "every 4 weeks",
                  text: "Every 4 weeks"
                },
                {
                  value: "monthly",
                  text: "Monthly"
                },
                {
                  value: "yearly",
                  text: "Yearly"
                }
              ]
            }) }}

            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "What is the case reference of the criminal rep order or civil certificate?",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              classes: "govuk-input--width-20",
              id: "event-name",
              name: "eventName"
            }) }}

          {% endset -%}

          {% set yearlyAMOUNT %}
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              id: "payment-amount",
              name: "paymentAmount",
              label: {
                text: "Enter yearly amount",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              prefix: {
                text: "£"
              },
              classes: "govuk-input--width-10",
              spellcheck: false
            }) }}
          {% endset -%}


          {{ govukCheckboxes({
            name: "payments your client gets",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "rent or mortgage",
                text: "Rent or mortgage",
                conditional: {
                  html: amountFREQUENCY
                }
              },
              {
                value: "board and lodging",
                text: "Board and lodging",
                conditional: {
                  html: amountFREQUENCY
                }
              },
              {
                value: "childcare",
                text: "Childcare payments",
                hint: {
                  text: "For example, to a childminder, nanny or nursery."
                },
                conditional: {
                  html: amountFREQUENCY
                }
              },
              {
                value: "maintenance",
                text: "Maintenance payments to a former partner",
                hint: {
                  text: "This includes child maintenance."
                },
                conditional: {
                  html: amountFREQUENCY
                }
              },
              {
                value: "legal aid contributions",
                text: "Contributions towards criminal or civil legal aid",
                conditional: {
                  html: amountFREQUENCYreference
                }
              },
              {
                value: "council tax",
                text: "Council Tax",
                conditional: {
                  html: yearlyAMOUNT
                }
              },
              {
                divider: "or"
              },
              {
                value: "none of these",
                text: "My client does not pay any of these payments",
                behaviour: "exclusive"
              }
            ]
          }) }}


          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: "/outgoings-assessment/board-and-lodging"
            }) }}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
