{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Review the applcation</h1>


        <h2 class="govuk-heading-m">Client details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "First Name"
            },
            value: {
              text: "Sarah"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last Name"
            },
            value: {
              text: "Philips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Other names"
            },
            value: {
              text: "None"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "customer reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "21 November 1998"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "customer reference"
                }
              ]
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "QQ 12 34 56 C"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "customer reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Etcetera"
            },
            value: {
              text: "Etcetera"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "customer reference"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Co-defendants</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Co-defendants"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }
              ]
            }
          },
          {
            key: {
              text: "Co-defendant 1"
            },
            value: {
              text: "Mark Smith"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Next court hearing</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Court name"
            },
            value: {
              text: "Cardiff Crown Court"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of next hearing"
            },
            value: {
              text: "18 July 2022"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Justification for legal aid</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Loss of liberty"
            },
            value: {
              text: "Maximum sentence is 3 years custody. Similar previous convictions aggravate any sentence."
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }
              ]
            }
          }
        ]
      }) }}

     {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
