{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Income assessment</span>
        <h1 class="govuk-heading-xl">Does your client have any dependants?</h1>
        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

          {{ govukWarningText({
            text: "The end user will not see this page, it is solely for research purposes.",
            iconFallbackText: "Warning"
          }) }}


        <ol class="govuk-list govuk-list--number">
          <li><a href="dependants"> Continue with dependants version A journey</a></li>
          <li><a href="b-dependants"> Continue with dependants version B journey</a></li>
        </ol>

      </div>
    </div>

{% endblock %}
