{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Income assessment</span>
        <h1 class="govuk-heading-xl">Does your client have any dependants?</h1>
        <form action="/income-dependants-check" method="post" novalidate>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          <p class="govuk-body">Include anyone who is all of these:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>under 18 years old</li>
            <li>lives with your client</li>
            <li>depends on your client for financial support</li>
          </ul>

          {{ govukRadios({
            name: "any-dependants",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>
        </form>
      </div>
    </div>

{% endblock %}
