{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Income assessment</span>
        <h1 class="govuk-heading-xl">Check your answers before completing this section</h1>
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
        <h3 class="govuk-heading-m">Employment details</h3>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "What is your client's employment status?"
              },
              value: {
                html: data['employment-status'] | splitLine
              },
              actions: {
                items: [
                  {
                    href: "clients-employment-status",
                    text: "Change",
                    visuallyHiddenText: "employment status"
                  }
                ]
              }
            }
          ]
        }) }}

        {% if (data['employment-status'] == 'none') %}
        <dl class="govuk-summary-list govuk-!-margin-bottom-9" style="margin-top: -60px;">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has your client ended employment in the last 3 months?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['employed-3-months'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="clients-employment-status">
                Change<span class="govuk-visually-hidden"> employment detail</span>
              </a>
            </dd>
          </div>
        {% if (data['employed-3-months'] == 'yes') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did your client lose their job as a result of being in custody?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['client-lost-job'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="client-lost-their-job">
                Change<span class="govuk-visually-hidden"> employment detail</span>
              </a>
            </dd>
          </div>
        {% if (data['client-lost-job'] == 'yes') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date job was lost
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date-job-was-lost'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="client-lost-their-job">
                Change<span class="govuk-visually-hidden"> employment detail</span>
              </a>
            </dd>
          </div>
        {% endif %}
        {% endif %}
        </dl>
        {% endif %}

          <h3 class="govuk-heading-m">Income</h3>
          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: [

              {
                key: {
                  text: "Is your client's gross yearly income less than £12,475?"
                },
                value: {
                  text: data['threshold']
                },
                actions: {
                  items: [
                    {
                      href: "clients-income-12475",
                      text: "Change",
                      visuallyHiddenText: "gross yearly income"
                    }
                  ]
                }
              }
            ]
          }) }}


          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Which of these payments does your clients get?</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> payments</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Maintenance payments from a former partner
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £57.84 every week
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Board from family members living with your client
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £80 every 2 weeks
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Which of these non-passporting benefits does your client get?</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> benefits</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Child Benefit
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £124 every 4 weeks
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Working Tax Credit or Child Tax Credit
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £416.34 monthly
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Incapacity Benefit
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £8,543.80 yearly
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: [

              {
                key: {
                  text: "How does your client manage with no income?"
                },
                value: {
                  html: data['manageWithNoIncome'] +'<br>'+ data['details']
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "address"
                    }
                  ]
                }
              }
            ]
          }) }}

          <h3 class="govuk-heading-m">Dependants</h3>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does your client have any dependants?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['any-dependants'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependants">
                  Change<span class="govuk-visually-hidden"> number of dependants</span>
                </a>
              </dd>
            </div>
            {% if (data['any-dependants'] == 'Yes') %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                1 year old on next birthday
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ageRange1'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependant-details">
                  Change<span class="govuk-visually-hidden"> dependants ages</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                2 to 4 years old on next birthday
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ageRange2'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependant-details">
                  Change<span class="govuk-visually-hidden"> dependants ages</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                5 to 7 years old on next birthday
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ageRange3'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependant-details">
                  Change<span class="govuk-visually-hidden"> dependants ages</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                8 to 10 years old on next birthday
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ageRange4'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependant-details">
                  Change<span class="govuk-visually-hidden"> dependants ages</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                11 to 12 years old on next birthday
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ageRange5'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependant-details">
                  Change<span class="govuk-visually-hidden"> dependants ages</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                13 to 15 years old on next birthday
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ageRange6'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependant-details">
                  Change<span class="govuk-visually-hidden"> dependants ages</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                16 to 18 years old on next birthday
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ageRange7'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="dependant-details">
                  Change<span class="govuk-visually-hidden"> dependants ages</span>
                </a>
              </dd>
            </div>
           {% endif %}
          </dl>

          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}

           {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
