{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Income assessment</span>
        <h1 class="govuk-heading-xl">Is your client’s gross yearly income less than £12,475?</h1>
        <form action="payments-your-client-gets" method="post" novalidate>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "threshold",
            fieldset: {
            },
            hint: {
              text: "Include all sources of income."
             },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}


            {% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and continue"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary"
              }) }}
            </div>
        </form>
      </div>
    </div>

{% endblock %}
