{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Income assessment</span>
        <h1 class="govuk-heading-xl">Does your client have any dependants?</h1>

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {% set moreDETAILS %}
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "How many dependants does your client have?",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              classes: "govuk-input--width-5",
              id: "event-name",
              name: "eventName"
            }) }}
          {% endset -%}

          <p class="govuk-body">A dependant is anyone who:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>will be 18 years old or under on their next birthday</li>
            <li>lives with your client</li>
            <li>depends on your client for financial support</li>
          </ul>


          {{ govukRadios({
            name: "anyDEPENDANTS",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: moreDETAILS
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}


          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: "dependant-details"
            }) }}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
