{% extends "layout_new.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Income assessment</span>
        <h1 class="govuk-heading-xl">How does your client manage with no income?</h1>

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {% set moreDETAILS %}
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
              name: "details",
              id: "details",
              label: {
                text: "Tell us how your client manages with no income",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              hint: {
                text: ""
              }
            }) }}
          {% endset -%}


          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "manageWithNoIncome",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "sleep on friends sofa",
                text: "They sleep on a friend's sofa for free"
              },
              {
                value: "stay with family",
                text: "They stay with family for free"
              },
              {
                value: "homeless",
                text: "They are homeless"
              },
              {
                value: "in custody for more than 3 months",
                text: "They have been in custody for more than 3 months"
              },
              {
                value: "other",
                text: "Other",
                conditional: {
                  html: moreDETAILS
                }
              }
            ]
          }) }}


          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: "/income-assessment/dependants"
            }) }}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </div>
    </div>

{% endblock %}
