{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm your client's details</h1>

      <form action="/dwp_passported" method="post" novalidate>

        <div class="govuk-form-group">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <h2 class="govuk-heading-m">Personal details</h2>
              </div>
              <div class="govuk-grid-column-one-third">
              <p><a class="govuk-link" style="float:right;" href="client_details">Change</a></p>
              </div>
              </div>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['client_details']['client']['first_name'] }} {{ data['client_details']['client']['last_name'] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      12 March 1979
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      National Insurance number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['client_details']['client']['national_insurance_number'] %}
                        {{ data['client_details']['client']['national_insurance_number'] }}
                      {% elif data['no-national-insurance'] == 'yes-no-number' %}
                        Yes, but they can't find it
                      {% elif data['no-national-insurance'] == 'no' %}
                        No
                      {% endif %}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Correspondance address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['client_details']['client']['address']['address_line_one'] %}
                        {{ data['client_details']['client']['address']['address_line_one'] }}
                        {{ data['client_details']['client']['address']['address_line_two'] }}
                        <br>{{ data['client_details']['client']['address']['city'] }}
                        <br>{{ data['client_details']['client']['address']['postcode'] }}
                      {% elif data['address-select'] %}
                        {{ data['address-select'] }} Main Street
                        <br>London
                        <br>{{ data['client_details']['client']['address']['postcode'] }}
                      {% endif %}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['marriage-civil-partnership'] == "yes" %}
                        Yes
                      {% else %}
                        No
                      {% endif %}
                    </dd>
                  </div>
                </dl>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m">Additional details</h2>
                    </div>
                    <div class="govuk-grid-column-one-third">
                    <p><a class="govuk-link" style="float:right;" href="/client_details_other">Change</a></p>
                    </div>
                    </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Paying towards legal aid
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['laa-case'] == "criminal" %}
                        Yes
                      {% elif data['laa-case'] == "civil" %}
                        Yes
                      {% else %}
                        No
                      {% endif %}
                    </dd>
                  </div>
                  {% if data['laa-case-criminal-number'] or data['laa-case-civil-number'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Case reference number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data['laa-case-criminal-number'] %}
                          {{ data['laa-case-criminal-number'] }}
                        {% elif data['laa-case-civil-number'] %}
                          {{ data['laa-case-civil-number'] }}
                        {% endif %}
                      </dd>
                    </div>
                  {% endif %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      On remand
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['laa-client_details']['on_remand'] == 'true' %}
                        Yes
                      {% else %}
                        No
                      {% endif %}
                    </dd>
                  </div>
                  {% if data['laa-client_details']['on_remand'] == 'true' %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date remanded
                      </dt>
                      <dd class="govuk-summary-list__value">
                        12 Janurary 2022
                      </dd>
                    </div>
                  {% endif %}
                </dl>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">We'll check your client's benefits status with the Department of Work and Pensions (DWP). </p>

            <div class="govuk-!-padding-bottom-4"></div>

          <input type="hidden" name="[client_details][checkpoint]" value="completed">
          <button type="submit" class="govuk-button button-left">
            Save and continue
          </button>
    </form>

    <form class="form inline-form" action="/tasklist" method="post">
      <input type="hidden" name="[client_details][checkpoint]" value="completed">
      <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
    </form>

    </div>

    <p><a href="/dwp_nonpassported" style="color: #b7b7b7;">Continue to non-passported journey</a></p>

  </div>

{% endblock %}
