{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Provide details of the offence</h1>

      <form class="form" action="/ioj" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                What does your client want legal aid for?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership" name="marriage-civil-partnership" type="radio" value="never">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
                  Class A: Homicide and related grave offences
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-2" name="marriage-civil-partnership" type="radio" value="married">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-2">
                  Class B: Offences involving serious violence or damage, and serious drugs offences
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-3" name="marriage-civil-partnership" type="radio" value="civil-partnership">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-3">
                  Class C: Lesser offences involving violence or damage, and less serious drugs offences
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-4" name="marriage-civil-partnership" type="radio" value="separated-married">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-4">
                  Class D: Sexual offences and offences against children
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-5" name="marriage-civil-partnership" type="radio" value="separated-civil-partnership">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-5">
                  Class E: Burglary etc.
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-6" name="marriage-civil-partnership" type="radio" value="divorced">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-6">
                  Class F: Other offences of dishonesty (specified offences and offences where the value is £30,000 or less)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-7" name="marriage-civil-partnership" type="radio" value="dissolved-civil-partnership">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-7">
                  Class G: Other offences of dishonesty (specified offences and offences where the value involved exceeds £30,000 but does not exceed £100,000)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-8" name="marriage-civil-partnership" type="radio" value="widowed">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-8">
                  Class H: Miscellaneous other offences
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-9" name="marriage-civil-partnership" type="radio" value="widowed-civil-partnership">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-9">
                  Class I: Offences against public justice and similar offences
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-11" name="marriage-civil-partnership" type="radio" value="skip">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-11">
                  Class J: Serious sexual offences
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-11" name="marriage-civil-partnership" type="radio" value="skip">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-11">
                  Class K: Other offences of dishonesty (high value: if the value involved exceeds £100,000)
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Does your client have any other criminal cases or charges still in progress?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <!-- REMEMBER: data-aria-controls -->
                <input class="govuk-radios__input" id="marriage-civil-partnership" name="marriage-civil-partnership" type="radio" value="never" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
                  Yes
                </label>
              </div>
              <!-- START: CONDITIONAL REVEAL -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes"> <!-- id needs to match data-aria-controls -->
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Enter details
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">
                  </textarea>
                </div>
              </div>
              <div class="govuk-form-group">
              <!-- END: CONDITIONAL REVEAL  -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-2" name="marriage-civil-partnership" type="radio" value="married">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Is your client on remand?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership" name="marriage-civil-partnership" type="radio" value="never" data-aria-controls="remand-yes">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="remand-yes"> <!-- id needs to match data-aria-controls -->
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Date your client was remanded
                  </label>
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                      <div id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </div>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>

                    </fieldset>
                  </div>


                </div>
              </div>
              <div class="govuk-form-group">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-2" name="marriage-civil-partnership" type="radio" value="married">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
