{% extends "layout.html" %}

{% block content %}

<style media="screen">
td:first-child {
  font-weight: bold !important;
}
th {
  /*font-weight: normal !important;*/
}
dt:first-child{
  font-weight: bold;
}
th:first-child {
  font-weight: bold;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h1 class="govuk-heading-xl">
        Review and print your application
      </h1>

  <br>

         <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">
             <h2 class="govuk-heading-m">Client details</h2>
           </div>
           <div class="govuk-grid-column-one-third">
             <p><a class="govuk-link" style="float:right;" href="proceedings">Change</a></p>
           </div>
         </div>

         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
               First name
             </dt>
             <dd class="govuk-summary-list__value">
               Sam
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">first name</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Last name
             </dt>
             <dd class="govuk-summary-list__value">
               Doe
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">last name</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Date of birth
             </dt>
             <dd class="govuk-summary-list__value">
               1 January 1980
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">dob</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               National Insurance number
             </dt>
             <dd class="govuk-summary-list__value">
               QQ123456C
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">national insurance number</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Correspondence address
             </dt>
             <dd class="govuk-summary-list__value">
               1 Main Street<br/>London<br/>SE15 5NP
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="postcode_finder">
                 Change <span class="govuk-visually-hidden">correspondance address</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Passporting benefit
             </dt>
             <dd class="govuk-summary-list__value">
               Yes
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="postcode_finder">
                 Change <span class="govuk-visually-hidden">correspondance address</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Partner
             </dt>
             <dd class="govuk-summary-list__value">
               Yes
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="employment_status">
                 Change <span class="govuk-visually-hidden">correspondance address</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Partner's first name
             </dt>
             <dd class="govuk-summary-list__value">
               Joanne
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="postcode_finder">
                 Change <span class="govuk-visually-hidden">correspondance address</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Partner's last name
             </dt>
             <dd class="govuk-summary-list__value">
               Doe
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">last name</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               On remand
             </dt>
             <dd class="govuk-summary-list__value">
               Yes
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">last name</span>
               </a>
             </dd> -->
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Date of remand
             </dt>
             <dd class="govuk-summary-list__value">
               12 Feb 2022
             </dd>
             <!-- <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">last name</span>
               </a>
             </dd> -->
           </div>
          </dl>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Case details</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="proceedings">Change</a></p>
    </div>
  </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case type
        </dt>
        <dd class="govuk-summary-list__value">
          Indictable
        </dd>
        <!-- <dd class="govuk-summary-list__actions"> -->
        <!--  <a href="proceedings">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a> -->
        <!-- </dd> -->
      </div>
      <!-- <div class="govuk-summary-list__row"> -->
        <!-- <dt class="govuk-summary-list__key">
          Court hearing the case
        </dt>
        <dd class="govuk-summary-list__value">
          Southwark Crown Court
        </dd> -->
        <!-- <dd class="govuk-summary-list__actions"> -->
        <!--  <a href="proceedings">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a> -->
        <!-- </dd> -->
      <!-- </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Offence
        </dt>
        <dd class="govuk-summary-list__value">
          Wounding or grievous bodily harm with intent to cause grievous bodily harm
          <p> </p>
          <p>Class A</p>
        </dd>
        <dd class="govuk-summary-list__actions">
        <!--  <a href="proceedings">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Co-defendant 1
        </dt>
        <dd class="govuk-summary-list__value">
          Paul Smith
        </dd>
        <dd class="govuk-summary-list__actions">
        <!--  <a href="proceedings">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a> -->
        </dd>
      </div>
   </dl>
  <br>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Interests of Justice</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="proceedings">Change</a></p>
    </div>
  </div>
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Criteria
    </dt>
    <dd class="govuk-summary-list__value">
      Loss of liberty
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Justification
    </dt>
    <dd class="govuk-summary-list__value">
      Facing prison time
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  </dl>

  <br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Income assessment</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="proceedings">Change</a></p>
    </div>
  </div>
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employment status
    </dt>
    <dd class="govuk-summary-list__value">
      Unemployed
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employment income
    </dt>
    <dd class="govuk-summary-list__value">
      £0
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Financial help from friends or family
    </dt>
    <dd class="govuk-summary-list__value">
      £50<br/>Every month
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Cash in hand pay
    </dt>
    <dd class="govuk-summary-list__value">
      £100<br/>Every week
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Children
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child 1
    </dt>
    <dd class="govuk-summary-list__value">
      12 years old
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Housing payments
    </dt>
    <dd class="govuk-summary-list__value">
      £500<br/>Every month
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Council tax
    </dt>
    <dd class="govuk-summary-list__value">
      £42<br/>Every month
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd> -->
  </div>

      </div>

</p>

<h1 class="govuk-heading-l">Print application</h1>

<p class="govuk-body">Print your application and get your client to sign the declaration.</p>

<p class="govuk-body">You'll need to keep a copy of it on file, along with any evidence you used to determine your client's financial situation.</p>

<!-- <ul class="govuk-list govuk-list--bullet">
<li>any evidence you used to determine your client's financial sitaution</li>
 <li>a signed copy of your client's declaration</li>
</ul> -->

<p class="govuk-body">You may need to show this if you’re audited by the LAA in the future.</p>

<br>

<a role="button" href="print_view" target="_blank" style="margin-left:" class="govuk-button draft-button">Print application</a>

<p></p>
<form action="/confirm_the_following" method="post" novalidate>
<input type="hidden" name="review[]" value="completed">
<button type="submit" class="govuk-button">
  Save and continue
</button>

<a href="tasklist" role="button" style="margin-left: 15px;" class="govuk-button draft-button">
   Save and come back later
 </a>
</form>
</div>
</div>

{% endblock %}
