{% extends "layout.html" %}

{% block content %}

<style media="screen">
td:first-child {
  font-weight: bold !important;
}
th {
  /*font-weight: normal !important;*/
}
dt:first-child{
  font-weight: bold;
}
th:first-child {
  font-weight: bold;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h1 class="govuk-heading-xl">
        Review and print your application
      </h1>

      <p><strong>Client:</strong> Sam Doe
        <br><strong>LAA reference:</strong> L-23A-56D
        <br><strong>CCMS reference:</strong> 123456789012
      </p>

  <br>

      <div>
         <h2 class="govuk-heading-m">
           Client details
         </h2>

         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
               First name
             </dt>
             <dd class="govuk-summary-list__value">
               Sam
             </dd>
             <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">first name</span>
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Last name
             </dt>
             <dd class="govuk-summary-list__value">
               Doe
             </dd>
             <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">last name</span>
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Date of birth
             </dt>
             <dd class="govuk-summary-list__value">
               1 January 1980
             </dd>
             <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">dob</span>
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               National Insurance number
             </dt>
             <dd class="govuk-summary-list__value">
               QQ123456C
             </dd>
             <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="client_details">
                 Change <span class="govuk-visually-hidden">national insurance number</span>
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Correspondence address
             </dt>
             <dd class="govuk-summary-list__value">
               1 Main Street<br/>London<br/>SE15 5NP
             </dd>
             <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="postcode_finder">
                 Change <span class="govuk-visually-hidden">correspondance address</span>
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Employment status
             </dt>
             <dd class="govuk-summary-list__value">
               Employed
             </dd>
             <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="employment_status">
                 Change <span class="govuk-visually-hidden">correspondance address</span>
               </a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Marital status
             </dt>
             <dd class="govuk-summary-list__value">
               Single
             </dd>
             <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="employment_status">
                 Change <span class="govuk-visually-hidden">correspondance address</span>
               </a>
             </dd>
         </div>
          </dl>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Case details</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <p><a class="govuk-link" style="float:right;" href="proceedings">Change</a></p>
    </div>
  </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case type
        </dt>
        <dd class="govuk-summary-list__value">
          Indictable
        </dd>
        <dd class="govuk-summary-list__actions">
        <!--  <a href="proceedings">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Court type
        </dt>
        <dd class="govuk-summary-list__value">
          Crown Court
        </dd>
        <dd class="govuk-summary-list__actions">
        <!--  <a href="proceedings">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Co-defendant
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
        <dd class="govuk-summary-list__actions">
        <!--  <a href="proceedings">
            Change <span class="govuk-visually-hidden">proceeding</span>
          </a> -->
        </dd>
      </div>
   </dl>
  <br>

  <h2 class="govuk-heading-m">
    Offence details
  </h2>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Offence class
    </dt>
    <dd class="govuk-summary-list__value">
      Class A
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other criminal cases or charges
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd>
  </div>
  </dl>
  <br>

  <h2 class="govuk-heading-m">
    Interest of justice
  </h2>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Remand
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Liberty at risk
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="laspo">
        Change <span class="govuk-visually-hidden">proceeding</span>
      </a>
    </dd>
  </div>
  </dl>

  <br>



      </div>

</p>

<h1 class="govuk-heading-l">Print application</h1>

<p class="govuk-body">Print your application and get your client to sign the declaration.</p>

<p class="govuk-body">You'll need to keep a copy of it on file, along with any evidence you used to determine your client's financial situation.</p>

<!-- <ul class="govuk-list govuk-list--bullet">
<li>any evidence you used to determine your client's financial sitaution</li>
 <li>a signed copy of your client's declaration</li>
</ul> -->

<p class="govuk-body">You may need to show this if you’re audited by the LAA in the future.</p>

<br>

<a role="button" href="print_view" target="_blank" style="margin-left:" class="govuk-button draft-button">Print application</a>

<p></p>

<a class="govuk-button" href="confirm_the_following" role="button">
  Save and continue
</a>

<a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
   Save and come back later
 </a>

</div>
</div>

{% endblock %}
