{% extends "layout.html" %}

{% block content %}
  <style media="screen">
    td:first-child {
      font-weight: bold !important;
    }
    th {
      /*font-weight: normal !important;*/
    }
    dt:first-child{
      font-weight: bold;
    }
    th:first-child {
      font-weight: bold;
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <h1 class="govuk-heading-xl">
          Review the application
        </h1>

        <br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Client details</h2>
          </div>
          <!-- <div class="govuk-grid-column-one-third">
            <p><a class="govuk-link" style="float:right;" href="/client_details">Change</a></p>
          </div> -->
        </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['client_details']['client']['first_name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/client_details">
                  Change
                  <span class="govuk-visually-hidden">first name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['client_details']['client']['last_name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/client_details">
                Change
                <span class="govuk-visually-hidden">last name</span>
              </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other names
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['client_details']['client']['other_names'] %}
                  {{ data['client_details']['client']['other_names'] }}
                {% else %}
                  None
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/client_details">
                Change
                <span class="govuk-visually-hidden">other names</span>
              </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['client_details']['client']['dob'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/client_details">
                Change
                <span class="govuk-visually-hidden">date of birth</span>
              </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['client_details']['nino'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/client_details_nino">
                Change
                <span class="govuk-visually-hidden">national insurance number</span>
              </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Passporting benefit
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['means_assessment']['benefits_status']['passported'] == true %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Home address
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['postcode'] %}
                  {% if data['address-line-1'] %}
                    {{ data['address-line-1'] }}
                    {{ data['address-line-2'] }}
                    <br>
                    {{ data['address-town'] }}
                    <br>
                    {{ data['address-county'] }}
                    <br>
                    {{ data['address-postcode'] }}
                  {% elif data['address-select'] %}
                    {{ data['address-house-number'] }} Main Street
                    <br>
                    London
                    <br>
                    {{ data['postcode'] }}
                  {% endif %}
                {% else %}
                  No home address provided
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/client_details_postcode_finder">
                Change
                <span class="govuk-visually-hidden">home address</span>
              </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Correspondence address
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['correspondence_address_type'] == 'home-address' %}
                  Same as home address
                {% elseif data['correspondence_address_type'] == 'provider-office' %}
                  Provider's office
                {% elseif data['correspondence_address_type'] == 'correspondence-address-other' %}
                  {% if data['postcode-correspondence'] %}
                    {% if data['correspondence-address-line-1'] %}
                      {{ data['correspondence-address-line-1'] }}
                      <br>
                    {% endif %}
                    {% if data['correspondence-address-line-2'] %}
                      {{ data['correspondence-address-line-2'] }}
                      <br>
                    {% endif %}
                    {% if data['correspondence-address-town'] %}
                      {{ data['correspondence-address-town'] }}
                      <br>
                    {% endif %}
                    {% if data['correspondence-address-county'] %}
                      {{ data['correspondence-address-county'] }}
                      <br>
                    {% endif %}
                    {% if data['correspondence-address-postcode'] %}
                      {{ data['correspondence-address-postcode'] }}
                    {% endif %}
                  {% elseif data['address-select-correspondence'] %}
                    {{ data['correspondence-house-number'] }} Main Street
                    <br>
                    London
                    <br>
                    {{ data['postcode_correspondence'] }}
                  {% endif %}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/client_details_correspondence_address">
                Change
                <span class="govuk-visually-hidden">correspondence address</span>
              </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                UK telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['client_details']['client']['phone'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/client_details_correspondence_address">
                Change
                <span class="govuk-visually-hidden">UK telephone number</span>
              </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Partner
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['partner'] == "yes" %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/screener_partner">
                Change
                <span class="govuk-visually-hidden">whether your client has a partner</span>
              </a>
              </dd>
            </div>
            <!-- {% if data['partner']['first_name'] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Partner's first name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['partner']['first_name'] }}
                </dd>
              </div>
            {% endif %}
            {% if data['partner']['last_name'] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Partner's last name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['partner']['last_name'] }}
                </dd>
              </div>
            {% endif %} -->
          </dl>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Case details</h2>
          </div>
          <!-- <div class="govuk-grid-column-one-third">
            <p><a class="govuk-link" style="float:right;" href="/case_details_codefendants">Change</a></p>
          </div> -->
        </div>

        <dl class="govuk-summary-list">
          {% if data.case_details.urn_provided == 'yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unique reference number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['case_details']['urn'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/case_details_urn">
                Change<span class="govuk-visually-hidden">unique reference number</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case type
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['case_details']['case_type'] == 'summary_only' %}
                Summary only
              {% elif data['case_details']['case_type'] == 'either_way' %}
                Either way
              {% elif data['case_details']['case_type'] == 'indictable' %}
                Indictable
              {% elif data['case_details']['case_type'] == 'already_in_crown_court' %}
                Trial already in Crown Court
              {% elif data['case_details']['case_type'] == 'committal' %}
                Committal for sentence
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/case_details_case_type">
                Change
                <span class="govuk-visually-hidden">case type</span>
              </a>
            </dd>
          </div>
        </dl>

        <br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Offences</h2>
          </div>
          <div class="govuk-grid-column-one-third">
            <p><a class="govuk-link" style="float:right;" href="/case_details_offence">Change</a></p>
          </div>
        </div>

      <dl class="govuk-summary-list">
        {% for offence in data['case_details']['offences'] -%}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offence {{loop.index}}
          </dt>
          <dd class="govuk-summary-list__value">
              <p>{{ offence.offence | capitalize}}</p>
              {% if offence.offence_class == "not specified" %}
                <p class="offence-class">Class {{ offence.offence_class }}</p>
              {% else %}
                <p class="offence-class">Class {{ offence.offence_class | capitalize }}</p>
              {% endif %}
          </dd>
        </div>
        {%- endfor %}
      </dl>

      <br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Offence dates</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="/case_details_offence_date">Change</a></p>
        </div>
      </div>

      <dl class="govuk-summary-list">
        {% for offence in data['case_details']['offences'] -%}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ offence.offence }}
          </dt>
          <dd class="govuk-summary-list__value">
              <p>{{ offence.offence_date }}</p>
          </dd>
        </div>
        {%- endfor %}
      </dl>

    <br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Co-defendants</h2>
      </div>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Co-defendants
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['co_defendants'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/case_details_codefendants">
            Change
            <span class="govuk-visually-hidden">whether your client has codefendants</span>
          </a>
        </dd>
      </div>
      {% for defendant in data['case_details']['co_defendant_names'] -%}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Co-defendant {{loop.index}}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ defendant.name }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/case_details_codefendants_details">
              Change
              <span class="govuk-visually-hidden">codefendants {{loop.index}}</span>
            </a>
          </dd>
        </div>
      {%- endfor %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Conflict of interest
        </dt>
        {% for defendant in data['case_details']['co_defendant_names'] -%}
          {% if defendant.conflict ==  'yes' %}
            <dd class="govuk-summary-list__value">
              Yes
              <br>
              <p class=conflict-codefendant-name>{{ defendant.name }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/case_details_codefendants_details">
                Change
                <span class="govuk-visually-hidden">conflict of interests</span>
              </a>
            </dd>

<!-- This needs fixing to loop through and only display no if all are no -->
          {% elif defendant.conflict ==  'no'%}
            No
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/case_details_codefendants_details">
                Change
                <span class="govuk-visually-hidden">conflict of interests</span>
              </a>
            </dd>
          {% endif %}
        {%- endfor %}
      </div>
    </dl>

    <br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Next court hearing</h2>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>

    <dl class="govuk-summary-list">
      {% if data.case_details.urn_provided == 'no' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Court name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['court-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/case_details_hearing">
            Change<span class="govuk-visually-hidden">court name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of next hearing
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['case_details']['next_hearing'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/case_details_hearing">
            Change<span class="govuk-visually-hidden">date of next hearing</span>
          </a>
        </dd>
      </div>
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Details on VCD
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['case_details']['urn'] }}
        </dd>
      </div>
      {% endif %}
    </dl>

    <br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Justification for legal aid</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p><a class="govuk-link" style="float:right;" href="/ioj">Change</a></p>
        </div>
      </div>

      <dl class="govuk-summary-list">
        {% for ioj in data['interests_of_justice'] -%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if ioj == 'liberty' %}
                Loss of liberty
              {% elif ioj == 'suspended_sentence' %}
                Suspended or non-custodial sentence
              {% elif ioj == 'livelihood' %}
                Loss of livelihood
              {% elif ioj == 'reputation' %}
                Serious damage to their reputation
              {% elif ioj == 'question_of_law' %}
                Substantial question of law may be involved
              {% elif ioj == 'unable_to_understand' %}
                Unable to understand the court proceedings or present own case
              {% elif ioj == 'witnesses_needed' %}
                Witnesses may need to be traced or interviewed
              {% elif ioj == 'expert_cross_examination' %}
                The proceedings may involve expert cross-examination
              {% elif ioj == 'interests_of_another' %}
                It is in the interests of another person
              {% elif ioj == 'ioj_other' %}
                Other reason
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['more-detail'][loop.index-1] }}
            </dd>
          </div>
        {%- endfor %}
      </dl>

  <!-- FOR PASSPORTED CASES, THE CHECK YOUR ANSWERS FINISHES HERE -->

  <!-- FOR NON PASSPORTED CASES, INCLUDE INCOME AND CAPITAL ASSESSMENT ANSWERS -->

      <br>

    </div>


    <!-- <h1 class="govuk-heading-l">Print application</h1> -->

  <!-- <p class="govuk-body">Print your application and get your client to sign the declaration.</p> -->

    <!-- <p class="govuk-body">You'll need to keep a copy of it on file, along with any evidence you used to determine your client's financial situation.</p> -->

  <!-- <ul class="govuk-list govuk-list--bullet">
  <li>any evidence you used to determine your client's financial sitaution</li>
  <li>a signed copy of your client's declaration</li>
  </ul> -->

    <!-- <p class="govuk-body">You may need to show this if you’re audited by the LAA in the future.</p> -->

    <!-- <a role="button" href="/print_view" target="_blank" style="margin-left:" class="govuk-button govuk-button--secondary">Print application</a> -->

    <p></p>
    <form action="/confirm_the_following" method="post" novalidate>
      <input type="hidden" name="[review][checkpoint]" value="completed">
      <button type="submit" class="govuk-button button-left">
        Save and continue
      </button>
    </form>

    <form class="form inline-form" action="/tasklist" method="post">
      <input type="hidden" name="[review][checkpoint]" value="completed">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save and come back later
      </button>
    </form>
  </div>
{% endblock %}
