{% extends "layout.html" %}

{% block content %}
  <style media="screen">
    td:first-child {
      font-weight: bold !important;
    }
    th {
      /*font-weight: normal !important;*/
    }
    dt:first-child{
      font-weight: bold;
    }
    th:first-child {
      font-weight: bold;
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <h1 class="govuk-heading-xl">
          Application for criminal legal aid certificate
        </h1>

        <p>Client: <strong>{{ data['client_details']['client']['first_name'] + " " + data['client_details']['client']['last_name'] }}</strong>
          <br>LAA reference: <strong>{{ laa_reference }}</strong>
          <br>Date stamp: <strong>{{ date_stamp }}</strong>
        </p>
        <a href="/print_view" role="button" class="govuk-button">
          Print application
        </a>

        <br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Client details</h2>
          </div>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['client_details']['client']['first_name'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['client_details']['client']['last_name'] }}
            </dd>
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other names
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['client_details']['client']['other_names'] %}
                  {{ data['client_details']['client']['other_names'] }}
                {% else %}
                  None
                {% endif %} 
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ dob }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['client_details']['nino'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Passporting benefit
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['means_assessment']['benefits_status']['passported'] == true %}
                Yes
              {% else %}
                No
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['postcode'] %}
                  {% if data['address-line-1'] %}
                    {{ data['address-line-1'] }}
                    {{ data['address-line-2'] }}
                    <br>
                    {{ data['address-town'] }}
                    <br>
                    {{ data['address-county'] }}
                    <br>
                    {{ data['address-postcode'] }}
                  {% elif data['address-select'] %}
                    {{ data['address-house-number'] }} Main Street
                    <br>
                    London
                    <br>
                    {{ data['postcode'] }}
                  {% endif %}
                {% else %}
                  No home address provided
                {% endif %}
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['correspondence_address_type'] == 'home-address' %}
                Same as home address
              {% elseif data['correspondence_address_type'] == 'provider-office' %}
                Provider's office
              {% elseif data['correspondence_address_type'] == 'correspondence-address-other' %}
                {% if data['postcode-correspondence'] %}
                  {% if data['correspondence-address-line-1'] %}
                    {{ data['correspondence-address-line-1'] }}
                    <br>
                  {% endif %}
                  {% if data['correspondence-address-line-2'] %}
                    {{ data['correspondence-address-line-2'] }}
                    <br>
                  {% endif %}
                  {% if data['correspondence-address-town'] %}
                    {{ data['correspondence-address-town'] }}
                    <br>
                  {% endif %}
                  {% if data['correspondence-address-county'] %}
                    {{ data['correspondence-address-county'] }}
                    <br>
                  {% endif %}
                  {% if data['correspondence-address-postcode'] %}
                    {{ data['correspondence-address-postcode'] }}
                  {% endif %}
                {% elseif data['address-select-correspondence'] %}
                  {{ data['correspondence-house-number'] }} Main Street
                  <br>
                  London
                  <br>
                  {{ data['postcode_correspondence'] }}
                {% endif %}
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UK telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['client_details']['client']['phone'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Partner
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['partner'] == "yes" %}
                Yes
              {% else %}
                No
              {% endif %}
            </dd>
          </div>
          <!-- {% if data['partner']['first_name'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Partner's first name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['partner']['first_name'] }}
              </dd>
            </div>
          {% endif %}
          {% if data['partner']['last_name'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Partner's last name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['partner']['last_name'] }}
              </dd>
            </div>
          {% endif %} -->
        </dl>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Case details</h2>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>

        <dl class="govuk-summary-list">
          {% if data.case_details.urn_provided == 'yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unique reference number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['case_details']['urn'] }}
              </dd>
            </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case type
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['case_details']['case_type'] == 'summary_only' %}
                Summary only
              {% elif data['case_details']['case_type'] == 'either_way' %}
                Either way
              {% elif data['case_details']['case_type'] == 'indictable' %}
                Indictable
              {% elif data['case_details']['case_type'] == 'already_in_crown_court' %}
                Trial already in Crown Court
              {% elif data['case_details']['case_type'] == 'committal' %}
                Committal for sentence
              {% endif %}
            </dd>
          </div>
        </dl>

        <br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Offences</h2>
          </div>
        </div>

        <dl class="govuk-summary-list">
          {% for offence in data['case_details']['offences'] -%}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Offence {{loop.index}}
              </dt>
              <dd class="govuk-summary-list__value">
                  <p>{{ offence.offence | capitalize}}</p>
                  {% if offence.offence_class == "not specified" %}
                    <p class="offence-class">Class {{ offence.offence_class }}</p>
                  {% else %}
                    <p class="offence-class">Class {{ offence.offence_class | capitalize }}</p>
                  {% endif %}
              </dd>
            </div>
          {%- endfor %}
        </dl>

        <br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Offence dates</h2>
          </div>
        </div>

        <dl class="govuk-summary-list">
          {% for offence in data['case_details']['offences'] -%}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ offence.offence }}
            </dt>
            <dd class="govuk-summary-list__value">
                <p>{{ offence.offence_date }}</p>
            </dd>
          </div>
          {%- endfor %}
        </dl>

        <br>

        {% if data['case_details']['co_defendant_names'] | length > 0 %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Co-defendants</h2>
            </div>
          </div>

          <dl class="govuk-summary-list">
            {% for defendant in data['case_details']['co_defendant_names'] -%}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Co-defendant {{loop.index}}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ defendant }}
                </dd>
              </div>
            {%- endfor %}
          </dl>

          <br>
        {% endif %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Next court hearing</h2>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>

        <dl class="govuk-summary-list">
          {% if data.case_details.urn_provided == 'no' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['court-name'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row"> 
            <dt class="govuk-summary-list__key">
              Date of next hearing
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['case_details']['next_hearing'] }}
            </dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details on VCD
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['case_details']['urn'] }}
            </dd>
          </div>
          {% endif %}
        </dl>

        <br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Justification for legal aid</h2>
          </div>
        </div>

        <dl class="govuk-summary-list">
          {% for ioj in data['interests_of_justice'] -%}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {% if ioj == 'liberty' %}
                  Loss of liberty
                {% elif ioj == 'suspended_sentence' %}
                  Suspended or non-custodial sentence
                {% elif ioj == 'livelihood' %}
                  Loss of livelihood
                {% elif ioj == 'reputation' %}
                  Serious damage to their reputation
                {% elif ioj == 'question_of_law' %}
                  Substantial question of law may be involved
                {% elif ioj == 'unable_to_understand' %}
                  Unable to understand the court proceedings or present own case
                {% elif ioj == 'witnesses_needed' %}
                  Witnesses may need to be traced or interviewed
                {% elif ioj == 'expert_cross_examination' %}
                  The proceedings may involve expert cross-examination
                {% elif ioj == 'interests_of_another' %}
                  It is in the interests of another person
                {% elif ioj == 'ioj_other' %}
                  Other reason
                {% endif %}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['more-detail'][loop.index-1] }}
              </dd>
            </div>
          {%- endfor %}
        </dl>

        <br>
      </div>
      <a href="print_view" role="button" class="govuk-button">
        Print application
      </a>
      <a href="dashboard" role="button" class="govuk-button govuk-button--secondary">
        Back to your applications
      </a>
    </div>
  </div>
{% endblock %}
