{% extends "layout.html" %}

{% block pageTitle %}
  Apply for legal aid - Declaration page
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
      href: "dashboard"
  }) }}

{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Before you continue</h1>

<p class="govuk-body">You'll need to tell us if your client:</p>

<ul class="govuk-list govuk-list--bullet">
<li>receives or spend any money in different ways (and the amounts)</li>
<li>owns a home or has a mortgage (and their values)</li>
<li>has any savings, investments or other capital (and their values)</li>
<li>has any other ways to contribute towards legal costs</li>
<li>has any dependants</li>
</ul>

<p class="govuk-body">If your client is employed, you will also need to review their employement details.</p>


<br>
  <a href="/employment_income" role="button" class="govuk-button right">
    Agree and continue
  </a>




      </div>

    </div>

{% endblock %}
