{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="employed" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Do you have evidence that your client receives Universal Credit?
                </h1>
                <span class="govuk-hint">For example, a letter from the DWP.</span>
              </legend>

              <div class="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="benefit-evidence-1" name="evidence" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="benefit-evidence-1">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="benefit-evidence-2" name="evidence" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="benefit-evidence-2">
                    No
                  </label>
                </div>
              </div>


            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>

          <a href="tasklist" role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>
        </form>
      </div>
    </div>

{% endblock %}
