{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/benefit_checker_select" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="benefit-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which passporting benefit does your client receive?
                </h1>
              </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="passporting-benefit-1" name="means_assessment[benefits_status][client_benefits][0]" type="radio" value="uc">
                <label class="govuk-label govuk-radios__label" for="passporting-benefit-1">
                  Universal Credit
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="passporting-benefit-2" name="means_assessment[benefits_status][client_benefits][0]" type="radio" value="pension_credit">
                <label class="govuk-label govuk-radios__label" for="passporting-benefit-2">
                  Guarantee Credit element of Pension Credit
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="passporting-benefit-3" name="means_assessment[benefits_status][client_benefits][0]" type="radio" value="jsa">
                <label class="govuk-label govuk-radios__label" for="passporting-benefit-3">
                  Income-based Jobseeker’s Allowance (JSA)
                </label>
              </div>
              <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="passporting-benefit-4" name="means_assessment[benefits_status][client_benefits][0]" type="radio" value="esa">
                 <label class="govuk-label govuk-radios__label" for="passporting-benefit-4">
                   Income-related Employment and Support Allowance (ESA)
                 </label>
               </div>
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="passporting-benefit-5" name="means_assessment[benefits_status][client_benefits][0]" type="radio" value="income_support">
                 <label class="govuk-label govuk-radios__label" for="passporting-benefit-5">
                   Income Support
                 </label>
               </div>

               <p class="govuk-body">or</p>

               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="passporting-benefit-6" name="passporting-benefit" type="radio" value="none">
                 <label class="govuk-label govuk-radios__label" for="passporting-benefit-6">
                   None of these
                   <div class="govuk-hint">
                     You'll need to tell us about your client's income if they do not receive a passporting benefit.
                   </div>
                 </label>
               </div>

            </div>

            </fieldset>
          </div>

          <button type="submit" class="govuk-button button-left">
            Save and continue
          </button>
        </form>
        <form class="form inline-form" action="/tasklist" method="post">
          <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
        </form>
      </div>
    </div>

{% endblock %}
