{% extends "layout.html" %}


{% block pageScripts %}
  <script src="/public/javascripts/jquery.hideseek.min.js"></script>
  <script>
    $('#offence_search').hideseek({
        min_chars: 3,
        nodata: "No results found.",
        hidden_mode: true
    });
  </script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     {% if banner %}
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            A record of this case has not been created by the court yet. You can enter the case details now or come back later.
          </p>
        </div>
      </div>
      {% endif %}

      <h1 class="govuk-heading-xl">Enter the case details</h1>

      <form class="form" action="/ioj" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                When was your client charged?
              </h1>
            </legend>
              <div>
              <label class="govuk-label" for="offence">
                Attempted murder
              </label>
              <div class="govuk-form-group">
                  <div id="offence-issued-hint" class="govuk-hint">
                    For example, 27 3 2007
                  </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dependant-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-day" name="dependant-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dependant-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-month" name="dependant-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dependant-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dependant-year" name="dependant-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                  </div>
                    <div class="govuk-!-padding-bottom-2"></div>

                    <div>
                    <label class="govuk-label" for="offence">
                      Conspiracy to commit murder
                    </label>
                    <div class="govuk-form-group">
                        <div id="offence-issued-hint" class="govuk-hint">
                          For example, 27 3 2007
                        </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dependant-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-day" name="dependant-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dependant-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-month" name="dependant-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="dependant-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dependant-year" name="dependant-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-!-padding-bottom-2"></div>
                          <p><a href="">Same day as previous offence</a></p>
                        </div>
                      </div>
                </fieldset>
              </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                What type of case is it?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-1" name="case_details[case_type]" type="radio" value="summary_only" {{ checked("['case_details']['case_type']", "summary_only") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-1">
                  Summary only
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-2" name="case_details[case_type]" type="radio" value="either_way" {{ checked("['case_details']['case_type']", "either_way") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-2">
                  Either way
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-3" name="case_details[case_type]" type="radio" value="indictable" {{ checked("['case_details']['case_type']", "indictable") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-3">
                  Indictable
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-4" name="case_details[case_type]" type="radio" value="already_in_crown_court" {{ checked("['case_details']['case_type']", "already_in_crown_court") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-4">
                  Trial already in Crown Court
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-5" name="case_details[case_type]" type="radio" value="commital" {{ checked("['case_details']['case_type']", "commital") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-5">
                  Committal for sentence
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-6" name="case_details[case_type]" type="radio" value="appeal" {{ checked("['case_details']['case_type']", "appeal") }} data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="type-of-case-6">
                  Appeal to Crown Court
                </label>
              </div>
              <!-- START: CONDITIONAL REVEAL -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes"> <!-- id needs to match data-aria-controls -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="national-insurance-1">
                    Previous MAAT ID
                    </label>
                  <input class="govuk-input govuk-!-width-three-quarters" id="maat_id" name="client_details[client][maat_id]" value="{{ data['client_details']['client']['maat_id'] }}" type="text">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-7" name="case_details[case_type]" type="radio" value="appeal-with-changes" {{ checked("['case_details']['case_type']", "appeal") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-7">
                  Appeal to Crown Court with changes in financial circumstances
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                When is the next hearing?
              </h1>
            </legend>
              <div class="govuk-form-group">
                  <div id="offence-issued-hint" class="govuk-hint">
                    For example, 27 3 2007
                  </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dependant-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-day" name="dependant-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dependant-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-month" name="dependant-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dependant-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dependant-year" name="dependant-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                  </div>
                </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Does your client have any co-defendants in this case?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <!-- REMEMBER: data-aria-controls -->
                <input class="govuk-radios__input" id="co_defendants-1" name="co_defendants" type="radio" value="yes" data-aria-controls="co-defendant-yes" {{ checked("['co_defendants']", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="co_defendants-1">
                  Yes
                </label>
              </div>
              <!-- START: CONDITIONAL REVEAL -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="co-defendant-yes"> <!-- id needs to match data-aria-controls -->
              <div data-module="moj-add-another">
              {% if not names or names | length < 1 %}
                <fieldset class="govuk-fieldset moj-add-another__item">
                <p class="govuk-heading-s">Co-defendant</p>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="names[0][first_name]">
                    First name
                    </label>
                  <input class="govuk-input govuk-!-width-three-quarters" id="names[0][first_name]" name="new_names[0][first_name]" type="text" data-name="new_names[%index%][first_name]" data-id="names[%index%][first_name]">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="names[0][last_name]">
                    Last name
                    </label>
                  <input class="govuk-input govuk-!-width-three-quarters" id="names[0][last_name]" name="new_names[0][last_name]" type="text" data-name="new_names[%index%][last_name]" data-id="names[%index%][last_name]">
                </div>
                </fieldset>
              {% else %}
                {% for co_defendant in names -%}
                  <fieldset class="govuk-fieldset moj-add-another__item">
                  <p class="govuk-heading-s">Co-defendant</p>
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="names[{{loop.index - 1}}][first_name]">
                      First name
                      </label>
                    <input class="govuk-input govuk-!-width-three-quarters" id="names[{{loop.index - 1}}][first_name]" name="new_names[{{loop.index - 1}}][first_name]" type="text" data-name="new_names[%index%][first_name]" data-id="names[%index%][first_name]" value="{{ co_defendant[0] }}">
                  </div>
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="names[{{loop.index}}][last_name]">
                      Last name
                      </label>
                    <input class="govuk-input govuk-!-width-three-quarters" id="names[{{loop.index - 1}}][last_name]" name="new_names[{{loop.index - 1}}][last_name]" type="text" data-name="new_names[%index%][last_name]" data-id="names[%index%][last_name]" value="{{ co_defendant[1] }}">
                  </div>
                  </fieldset>
                  <button type="button" class="govuk-button govuk-button--secondary moj-add-another__remove-button">Remove</button>
                {%- endfor %}
              {% endif %}
                <div class="govuk-!-padding-bottom-2"></div>
                <div class="moj-button-action">
                  <button class="govuk-button govuk-button--secondary moj-add-another__add-button" data-module="govuk-button">
                    Add another defendant
                  </button>
                </div>
              </div>
              </div>
              <div class="govuk-form-group">
              <!-- END: CONDITIONAL REVEAL  -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="co_defendants-2" name="co_defendants" type="radio" value="no"  {{ checked("['co_defendants']", "no") }}>
                <label class="govuk-label govuk-radios__label" for="co_defendants-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <!-- <label class="govuk-heading-m" for="search">Search for offence name</label>
            <div id="search-field" class="govuk-form-group">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <input class="govuk-input search-field" autocomplete="off" id="offence_search" name="offence_search" type="text" data-list="#offences-list" value="{{ data['offence_search'] }}">
              </div>
              <div class="govuk-grid-column-one-third clear-search">
                <p><a class="govuk-link" id="clear-search" href="case_details#offence_search">Clear search</a></p>
              </div>
            </div>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div id="proceedings-list" class="govuk-grid-column-full ">
                  <div class="govuk-radios govuk-radios--inline">
                      <ul id="offences-list" style="text">
                        {% for offence in offences -%}
                          <li>
                            <div class="govuk-grid-row offences-list" id="offence-item-{{loop.index}}" >
                                <div class="govuk-radios govuk-radios">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="offence-value-{{loop.index}}" name="offence" type="radio" value="{{loop.index - 1}}">
                                    <label class="govuk-label govuk-radios__label"><strong>{{ offence.B }}</strong><br>Class: {{offence.D}}</label>
                                  </div>
                                </div>
                            </div>
                          </li>
                        {%- endfor %}
                      </ul>
                  </div>
                </div>
              </div>
            </div>


            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  I cannot find the right offence
                </span>
              </summary>
              <div class="govuk-details__text">
                 <div class="govuk-form-group">
                   <label class="govuk-label" for="width-10">
                     Enter the offence name
                   </label>
                   <input class="govuk-input govuk-input--width-10" id="offence_name" name="offence_name" type="text" value="{{ data['offence_name'] }}">
                 </div>
              </div>
            </details> -->
        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button button-left" data-module="govuk-button">Save and continue</button>
      </form>
      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
      </form>

    </div>
  </div>

  <p><a href="/ioj_passported" style="color: #b7b7b7;">If user enters a slipstreamed offence</a></p>

{% endblock %}
