{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Does your client have any co-defendants in this case?</h1>
      {% if data.case_details.urn_provided == 'yes' %}
      <form class="form" action="/ioj" method="post">
      {% else %}
      <form class="form" action="/case_details_codefendants_details" method="post">
      {% endif %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="co_defendants-1" name="co_defendants" type="radio" value="yes" {{ checked("['co_defendants']", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="co_defendants-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="co_defendants-2" name="co_defendants" type="radio" value="no"  {{ checked("['co_defendants']", "no") }}>
                <label class="govuk-label govuk-radios__label" for="co_defendants-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button button-left" data-module="govuk-button">Save and continue</button>
      </form>

      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and come back later</button>
      </form>
    </div>
  </div>
{% endblock %}
