{% extends "layout.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/jquery.hideseek.min.js"></script>
  <script>
    $('#offence_search').hideseek({
        min_chars: 3,
        nodata: "No results found.",
        hidden_mode: true,
        highlight: true
    });
  </script>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/date-stamp-banner.html" %}
    <h1 class="govuk-heading-xl">What has your client been charged with?</h1>

    <form class="form" action="/case_details_offence_date" method="post">
      <label class="govuk-heading-m" for="search">Search for offence name
        <div id="offence-hint" class="govuk-hint">
          Select all that apply.
        </div>
      </label>

      <div id="search-field" class="govuk-form-group">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <input class="govuk-input search-field" autocomplete="off" id="offence_search" name="offence_search" type="text" data-list="#offences-list">
          </div>
          <div class="govuk-grid-column-one-third clear-search">
            <p><a class="govuk-link" id="clear-search" href="case_details#offence_search">Clear search</a></p>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div id="proceedings-list" class="govuk-grid-column-full ">
              <div class="govuk-checkboxes govuk-checkboxes--inline">
                  <ul id="offences-list" style="text">
                    {% for offence in offences -%}
                      <li>
                        <div class="govuk-grid-row offences-list" id="offence-item-{{loop.index}}" >
                          <div class="govuk-checkboxes govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="offence-value-{{loop.index}}" name="offences_search_entry" data-offencename="{{ offence.B }}" data-offenceclass="{{ offence.D }}" type="checkbox" value="{{loop.index - 1}}">
                              <label class="govuk-label govuk-checkboxes__label"><strong>{{ offence.B }}</strong><br>Class: {{offence.D}}</label>
                            </div>
                          </div>
                        </div>
                      </li>
                    {%- endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I cannot find the right offence
            </span>
          </summary>
          <div class="govuk-details__text">
            <div data-module="moj-add-another">
              <fieldset class="govuk-fieldset moj-add-another__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10">
                      Enter the offence name
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="offences_manual_entry" name="offences_manual_entry" type="text" value="{{ data['offence_name'] }}">
                  </div>
              </fieldset>
              <div class="moj-button-action">
                <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                  Add another offence
                </button>
              </div>
            </div>
          </div>
        </details>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-grid-row" id="offence-summary-container" style="display: none;">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-m" id="offence-summary-heading">You have added 0 offences</h1>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row" id="govuk-summary-list__row-0" style="display: none;">
              <dd class="govuk-summary-list__value">
                <p class="offence-name" style="margin: 0;"></p>
                <p class="govuk-hint"></p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" id="remove-offence-link" href="#">Remove</a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <button class="govuk-button button-left" data-module="govuk-button">Save and continue</button>
    </form>
    <form class="form inline-form" action="/tasklist" method="post">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and come back later</button>
    </form>
  </div>
{% endblock %}
