{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter the case details</h1>

      <form class="form" action="/ioj" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date of the offence
              </h1>
            </legend>
            <div>
              {% for offenceId in offenceIds -%}
                <label class="govuk-label" for="offence[{{loop.index - 1}}]">
                  {{ offencesList[offenceId].B }}
                </label>
                <div class="govuk-form-group">
                  <div id="offence-issued-hint" class="govuk-hint">
                    For example, 27 3 2007
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="offence-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-{{ loop.index }}-day" name="offence-day[{{ loop.index-1 }}]" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="offence-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-{{ loop.index }}-month" name="offence-month[{{ loop.index-1 }}]" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="offence-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="offence-{{ loop.index }}-year" name="offence-year[{{ loop.index-1 }}]" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  {% if loop.index != 1 %}
                    <div class="govuk-!-padding-bottom-2"></div>
                    <p><a href="">Same day as above offence</a></p>
                  {% endif %}
                </div>
              {%- endfor %}
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date of next court hearing
              </h1>
            </legend>
            <div class="govuk-form-group">
              <div id="next-hearing-hint" class="govuk-hint">
                For example, 27 3 2007
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="next-hearing-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="next-hearing-day" name="next-hearing-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="next-hearing-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="next-hearing-month" name="next-hearing-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="next-hearing-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="next-hearing-year" name="next-hearing-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Does your client have any co-defendants in this case?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <!-- REMEMBER: data-aria-controls -->
                <input class="govuk-radios__input" id="co_defendants-1" name="co_defendants" type="radio" value="yes" data-aria-controls="co-defendant-yes" {{ checked("['co_defendants']", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="co_defendants-1">
                  Yes
                </label>
              </div>
              <!-- START: CONDITIONAL REVEAL -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="co-defendant-yes"> <!-- id needs to match data-aria-controls -->
                <div data-module="moj-add-another">
                  {% if not names or names | length < 1 %}
                    <fieldset class="govuk-fieldset moj-add-another__item">
                      <p class="govuk-heading-s">Co-defendant</p>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="names[0][first_name]">
                          First name
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="names[0][first_name]" name="new_names[0][first_name]" type="text" data-name="new_names[%index%][first_name]" data-id="names[%index%][first_name]">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="names[0][last_name]">
                          Last name
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="names[0][last_name]" name="new_names[0][last_name]" type="text" data-name="new_names[%index%][last_name]" data-id="names[%index%][last_name]">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="conflict">
                          Conflict of interest
                        </label>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="conflict-yes" name="conflict" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="conflict-yes">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="conflict-no" name="conflict" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="conflict-no">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  {% else %}
                    {% for co_defendant in names -%}
                      <fieldset class="govuk-fieldset moj-add-another__item">
                        <p class="govuk-heading-s">Co-defendant</p>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="names[{{loop.index - 1}}][first_name]">
                            First name
                          </label>
                          <input class="govuk-input govuk-!-width-three-quarters" id="names[{{loop.index - 1}}][first_name]" name="new_names[{{loop.index - 1}}][first_name]" type="text" data-name="new_names[%index%][first_name]" data-id="names[%index%][first_name]" value="{{ co_defendant[0] }}">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="names[{{loop.index}}][last_name]">
                            Last name
                          </label>
                          <input class="govuk-input govuk-!-width-three-quarters" id="names[{{loop.index - 1}}][last_name]" name="new_names[{{loop.index - 1}}][last_name]" type="text" data-name="new_names[%index%][last_name]" data-id="names[%index%][last_name]" value="{{ co_defendant[1] }}">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="conflict">
                            Conflict of interest
                          </label>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="conflict-yes" name="conflict" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="conflict-yes">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="conflict-no" name="conflict" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="conflict-no">
                              No
                            </label>
                          </div>
                        </div>
                      </fieldset>
                      <button type="button" class="govuk-button govuk-button--secondary moj-add-another__remove-button">Remove</button>
                    {%- endfor %}
                  {% endif %}
                </div>
                <div class="govuk-!-padding-bottom-2"></div>
                <div class="moj-button-action">
                  <button class="govuk-button govuk-button--secondary moj-add-another__add-button" data-module="govuk-button">
                    Add another defendant
                  </button>
                </div>
              </div>
            </div>
            <div class="govuk-form-group">
              <!-- END: CONDITIONAL REVEAL  -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="co_defendants-2" name="co_defendants" type="radio" value="no"  {{ checked("['co_defendants']", "no") }}>
                <label class="govuk-label govuk-radios__label" for="co_defendants-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div>
          <div class="govuk-!-padding-bottom-2"></div>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">We'll use this information to check if this case needs a justification for legal aid. </p>
        </div>

        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button button-left" data-module="govuk-button">Save and continue</button>
      </form>

      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
      </form>
    </div>
  </div>
  <p><a href="/ioj_passported" style="color: #b7b7b7;">If user enters a slipstreamed offence</a></p>
{% endblock %}
