{% extends "layout.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="public/javascripts/accessible-autocomplete.min.js"></script>

  <script>
    var courtNameSelect = document.querySelector('#court-name')

    accessibleAutocomplete.enhanceSelectElement({
      confirmOnBlur: true,
      autoSelect: true,
      displayMenu: 'overlay',
      minLength: 2,
      selectElement: courtNameSelect
    })

  </script>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter the details of the next court hearing</h1>

      <form class="form" action="/ioj" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <label class="govuk-label govuk-label--m" for="court-name">
              Court name
            </label>

            <div id="next-hearing-hint" class="govuk-hint">
              For example, Cardiff
            </div>

            <div id="select-field" class="govuk-form-group">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <div class="govuk autocomplete-wrapper">
                    <select class="govuk-select" name="court-name" id="court-name">

                      <option></option>
                      {% for court in courts -%}
                        <option>{{ court.name }}</option>
                      {% endfor %}

                    </select>
                  <div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date of next hearing
              </h1>
            </legend>
            <div class="govuk-form-group">
              <div id="next-hearing-hint" class="govuk-hint">
                For example, 27 3 2007
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="next-hearing-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="next-hearing-day" name="next-hearing-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="next-hearing-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="next-hearing-month" name="next-hearing-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="next-hearing-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="next-hearing-year" name="next-hearing-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div>
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">We'll use this information to check if this case needs a justification for legal aid. </p>
        </div>

        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button button-left" data-module="govuk-button">Save and continue</button>
      </form>

      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="[case_details][checkpoint]" value="completed">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and come back later</button>
      </form>
    </div>
  </div>
{% endblock %}
