{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm the case details</h1>

      <form action="/case_details_confirm" method="post" novalidate>
        <div class="govuk-form-group">
          <div class="govuk-grid-row">
              </div>
                <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      URN
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['case_details']['urn'] }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Case type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Summary only
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Court hearing the case
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Westminster Magistrates Court
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Offence
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Forgery and misuse of driving documents<br>
                      <p style="color: #b7b7b7;">Class H</p>

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Co-defendants
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Alex Welsh
                      <br>Joe Taylor
                    </dd>
                  </div>
                </dl>

                <h2 class="govuk-heading-m">Are these details correct?</h2>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="case_details_confirm-1" name="case_details_confirm" type="radio" value="correct">
                  <label class="govuk-label govuk-radios__label" for="case_details_confirm-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="case_details_confirm-2" name="case_details_confirm" type="radio" value="change">
                  <label class="govuk-label govuk-radios__label" for="case_details_confirm-2">
                    No, I need to change these details
                  </label>
                </div>
                </div>


          <div class="govuk-!-padding-bottom-6"></div>
          <input type="hidden" name="[case_details][checkpoint]" value="completed">
          <button type="submit" class="govuk-button button-left">
            Save and continue
          </button>
    </form>


    <form class="form inline-form" action="/tasklist" method="post">
      <input type="hidden" name="[case_details][checkpoint]" value="completed">
      <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
    </form>

    </div>

  </div>

{% endblock %}
