{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Enter your client's details</h1>

      <form action="/client_details_other" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Full name
            </legend>

            <div class="govuk-form-group">
                <label class="govuk-label" for="first_name">
                First name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="first_name" name="client_details[client][first_name]" type="text" value="{{ data['client_details']['client']['first_name'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="last_name">
                Last name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="last_name" name="client_details[client][last_name]" type="text" value="{{ data['client_details']['client']['last_name'] }}">
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date of birth
              </h1>
            </legend>
            <div id="date-of-birth-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="date-of-birth">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group" data-module="govuk-radios">
          <label class="govuk-label govuk-label--m" for="national-insurance">
            Does your client have a National Insurance number?
          </label>
          <div id="national-insurance-hint" class="govuk-hint">
            It's on their National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'.
          </div>
          <div class="govuk-radios__item">
            <!-- REMEMBER: data-aria-controls -->
            <input class="govuk-radios__input" id="national-insurance-1" name="national-insurance" type="radio" value="yes" data-aria-controls="conditional-yes">
            <label class="govuk-label govuk-radios__label" for="national-insurance-1">
              Yes
            </label>
          </div>
          <!-- START: CONDITIONAL REVEAL -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes"> <!-- id needs to match data-aria-controls -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="national-insurance-1">
                National Insurance number
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="national-insurance-number-1" name="client_details[client][national_insurance_number]" value="{{ data['client_details']['client']['national_insurance_number'] }}" type="text">
            </div>
          </div>
          <div class="govuk-form-group">
          <!-- END: CONDITIONAL REVEAL  -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="national-insurance-2" name="national-insurance" type="radio" value="yes-no-number">
              <label class="govuk-label govuk-radios__label" for="national-insurance-2">
                Yes, but they can't find it
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="national-insurance-3" name="national-insurance" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="national-insurance-3">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="govuk-form-group">
        {% if not data['client_details']['client']['address']['address_line_one'] %}
           <label class="govuk-label govuk-label--m" for="postcode">
             Postcode
           </label>
            <div id="postcode-hint" class="govuk-hint">
              We’ll only use this to send your client correspondence about their legal aid.
            </div>
            <div id="postcode-entry" class="togglePostcode">
              <div class="govuk-form-group">
                <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" value="{{ data['postcode'] }}">
              </div>
              <div type="submit" class="govuk-button" id="find-address">
                Find address
              </div>
            </div>
            <div id="address-entry" class="govuk-visually-hidden togglePostcode">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold postcode_change" for="change-postcode">{{ data['postcode'] }}
                </label>
                <p class="postcode_change">
                  <a class="govuk-link" href="client_details_long#email-hint" aria-label="change postcode">Change</a>
                </p>
              </div>

              <div class="govuk-form-group">
                <p>
                  <label class="govuk-label" for="address-select">
                  Select an address
                  </label>
                  <select class="govuk-select govuk-!-width-three-quarters" id="address-select" name="address-select">
                    <option>5 addresses found</option>
                    <option value="1">1 Main Street, London{% if data['postcode'] %}, {{ data['postcode'] }}{% endif %}</option>
                    <option value="2">2 Main Street, London{% if data['postcode'] %}, {{ data['postcode'] }}{% endif %}</option>
                    <option value="3">3 Main Street, London{% if data['postcode'] %}, {{ data['postcode'] }}{% endif %}</option>
                    <option value="4">4 Main Street, London{% if data['postcode'] %}, {{ data['postcode'] }}{% endif %}</option>
                    <option value="5">5 Main Street, London{% if data['postcode'] %}, {{ data['postcode'] }}{% endif %}</option>
                  </select>
                </p>
              </div>
          </div>
        <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text togglePostcode" id="address-manual">
                  Enter your client's correspondence address manually
                </span>
                <span class="govuk-details__summary-text govuk-visually-hidden togglePostcode" id="address-not-listed">
                  I can't find the address in the list
                </span>
              </summary>
          {% else %}
            <label class="govuk-label govuk-label--m" for="address">
              Address
            </label>
          {% endif %}
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-1">
                    Building and street
                    <span class="govuk-visually-hidden">line 1 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-1" name="client_details[client][address][address_line_one]" value="{{ data['client_details']['client']['address']['address_line_one'] }}" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-2">
                    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-2" name="client_details[client][address][address_line_two]" value="{{ data['client_details']['client']['address']['address_line_two'] }}" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-town">
                    Town or city
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="client_details[client][address][city]" value="{{ data['client_details']['client']['address']['city'] }}" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-county">
                    County
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="client_details[client][address][county]" value="{{ data['client_details']['client']['address']['county'] }}" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-postcode">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="address-postcode" name="client_details[client][address][postcode]" value="{{ data['client_details']['client']['address']['postcode'] }}" type="text">
                </div>
        {% if not data['client_details']['client']['address']['address_line_one'] %}
          </details>
        {% endif %}
        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group" data-module="govuk-radios">
          <label class="govuk-label govuk-label--m" for="laa-case">
            Is your client paying towards legal aid for another case?
          </label>
          <div class="govuk-radios__item">
            <!-- REMEMBER: data-aria-controls -->
            <input class="govuk-radios__input" id="laa-case-1" name="laa-case" type="radio" value="criminal" data-aria-controls="laa-case-criminal-yes" {{ checked("laa-case", "criminal") }}>
            <label class="govuk-label govuk-radios__label" for="laa-case-1">
              Yes, for a criminal case
            </label>
          </div>
          <!-- START: CONDITIONAL REVEAL -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="laa-case-criminal-yes"> <!-- id needs to match data-aria-controls -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="laa-case-criminal-number">
                Case reference number
                </label>
                <div id="laa-case-criminal-hint" class="govuk-hint">
                  For example, '6945352'.
                </div>
              <input class="govuk-input govuk-!-width-three-quarters" id="laa-case-criminal-number-1" name="laa-case-criminal-number" value="{{ data['laa-case-criminal-number'] }}" type="text">
            </div>
          </div>
          <div class="govuk-form-group">
          <!-- END: CONDITIONAL REVEAL  -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="laa-case-2" name="laa-case" type="radio" value="civil" data-aria-controls="laa-case-civil-yes" {{ checked("laa-case", "civil") }}>
              <label class="govuk-label govuk-radios__label" for="laa-case-2">
                Yes, for a civil case
              </label>
            </div>
            <!-- START: CONDITIONAL REVEAL -->
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="laa-case-civil-yes"> <!-- id needs to match data-aria-controls -->
              <div class="govuk-form-group">
                  <label class="govuk-label" for="laa-case-civil-number">
                  Case reference number
                  </label>
                  <div id="laa-case-civil-hint" class="govuk-hint">
                    For example, 'L 456 DEF'.
                  </div>
                <input class="govuk-input govuk-!-width-three-quarters" id="laa-case-civil-number-1" name="laa-case-civil-number" value="{{ data['laa-case-civil-number'] }}" type="text">
              </div>
            </div>
            <div class="govuk-form-group">
            <!-- END: CONDITIONAL REVEAL  -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="laa-case-3" name="laa-case" type="radio" value="no" {{ checked("laa-case", "no") }}>
              <label class="govuk-label govuk-radios__label" for="laa-case-3">
                No
              </label>
            </div>
          </div>
        </div>
        </div>

        <div class="govuk-form-group" data-module="govuk-radios">
          <label class="govuk-label govuk-label--m" for="marriage-civil-partnership">
            Does your client have a partner?
          </label>
          <div id="marriage-civil-partnership-hint" class="govuk-hint">
            By partner we mean someone they are married to, in a civil partnership with, cohabit with or otherwise share finances.
          </div>
          <div class="govuk-radios__item">
            <!-- REMEMBER: data-aria-controls -->
            <input class="govuk-radios__input" id="marriage-civil-partnership-1" name="marriage-civil-partnership" type="radio" value="yes" data-aria-controls="conditional-2-yes" {{ checked("['marriage-civil-partnership']", "yes") }}>
            <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
              Yes
            </label>
          </div>
          <!-- START: CONDITIONAL REVEAL -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-2-yes"> <!-- id needs to match data-aria-controls -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="partner_firstname">
                First name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="partner_firstname" name="client_details[partner][first_name]" value="{{ data['client_details']['partner']['first_name'] }}" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="partner_lastname">
                Last name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="partner_lastname" name="client_details[partner][last_name]" value="{{ data['client_details']['partner']['last_name'] }}">
            </div>
          </div>
          <div class="govuk-form-group">
          <!-- END: CONDITIONAL REVEAL  -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="marriage-civil-partnership-2" name="marriage-civil-partnership" type="radio" value="no" {{ checked("['marriage-civil-partnership']", "no") }}>
              <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-2">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        </div>
          <button type="submit" class="govuk-button button-left">
            Save and continue
          </button>
    </form>
    <form class="form inline-form" action="/tasklist" method="post">
      <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
    </form>
    </div>
  </div>

  <p><a href="/client_details_long" style="color: #b7b7b7;">Alternative design</a></p>


{% endblock %}
