{% extends "layout.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Enter your client's correspondence address</h1>

        <form action="client_details_postcode_select_correspondence" method="post" novalidate>
          <div class="govuk-form-group">

            <label class="govuk-label" for="postcode">
            Postcode
            </label>

              <div id="postcode-hint" class="govuk-hint">
                This must be a valid UK postcode.
              </div>

            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" value="{{ data['postcode'] }}">
            </input>

          </div>

          <button type="submit" class="govuk-button">
            Find address
          </button>

        </form>
      </div>
    </div>

{% endblock %}
