{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm your client's details</h1>

      <form action="/dwp_passported" method="post" novalidate>

        <div class="govuk-form-group">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <h2 class="govuk-heading-m">Personal details</h2>
              </div>
              <div class="govuk-grid-column-one-third">
              <p><a class="govuk-link" style="float:right;" href="client_details_long">Change</a></p>
              </div>
              </div>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Jon Philips
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      12 March 1979
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      National Insurance number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      QQ123456C
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Correspondance address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      72 Guild Street
                      <br>London
                      <br>SE23 6FH
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                  </div>
                </dl>


                <!-- <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m">Partner details</h2>
                    </div>
                    <div class="govuk-grid-column-one-third">
                    <p><a class="govuk-link" style="float:right;" href="client_details_long">Change</a></p>
                    </div>
                    </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sarah Philips
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      5 January 1978
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      National Insurance number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      QQ123456C
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Correspondance address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      72 Guild Street
                      <br>London
                      <br>SE23 6FH
                    </dd>
                  </div>
                </dl> -->

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m">Additional details</h2>
                    </div>
                    <div class="govuk-grid-column-one-third">
                    <p><a class="govuk-link" style="float:right;" href="client_details_long">Change</a></p>
                    </div>
                    </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Paying towards legal aid
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                      <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> previous application number</span>
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Case reference number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      L-123-ABC
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                      <a href="#">
                        Change
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      On remand
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                      <a href="#">
                        Change
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date remanded
                    </dt>
                    <dd class="govuk-summary-list__value">
                      12 Janurary 2022
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                      <a href="#">
                        Change
                      </a>
                    </dd> -->
                  </div>
                </dl>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">We'll check your client's benefits status with the Department of Work and Pensions (DWP). </p>

            <div class="govuk-!-padding-bottom-4"></div>

          <input type="hidden" name="client_details[]" value="completed">
          <button type="submit" class="govuk-button button-left">
            Save and continue
          </button>
    </form>

    <form class="form inline-form" action="/tasklist" method="post">
      <input type="hidden" name="client_details[]" value="completed">
      <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
    </form>

    </div>

    <p><a href="/dwp_nonpassported" style="color: #b7b7b7;">Continue to non-passported journey</a></p>

  </div>

{% endblock %}
