{% extends "layout.html" %}

{% block pageTitle %}
Apply for legal aid - Client details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Enter your client's details</h1>

      <form action="/case_details" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Full name
            </legend>

            <div class="govuk-form-group">
                <label class="govuk-label" for="firstname">
                First name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="firstname" name="firstname" type="text" value="{{ data['firstname'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="lastname">
                Last name
                </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="lastname" name="lastname" type="text" value="{{ data['lastname'] }}">
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Date of birth
              </h1>
            </legend>
            <div id="date-of-birth-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="date-of-birth">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="national-insurance-number">
            National Insurance number
          </label>
          <div id="national-insurance-number-hint" class="govuk-hint">
            It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
          </div>
          <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
        </div>

         <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
         <label class="govuk-label govuk-label--m" for="email">
           Email address
         </label>
          <div id="email-hint" class="govuk-hint">
            We’ll only use this to send your client a copy of their legal aid application.
          </div>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
         <label class="govuk-label govuk-label--m" for="postcode">
           Postcode
         </label>
          <div id="postcode-hint" class="govuk-hint">
            We’ll only use this to send your client correspondence about their legal aid.
          </div>
          <div id="postcode-entry" class="togglePostcode">
            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" value="{{ data['postcode'] }}">
            </div>
            <div type="submit" class="govuk-button" id="find-address">
              Find address
            </div>
          </div>
          <div id="address-entry" class="govuk-visually-hidden togglePostcode">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold postcode_change" for="change-postcode">{{ data['postcode'] }}
              </label>
              <p class="postcode_change">
                <a class="govuk-link" href="client_details_long#email-hint" aria-label="change postcode">Change</a>
              </p>
            </div>

            <div class="govuk-form-group">
              <p>
                <label class="govuk-label" for="address-select">
                Select an address
                </label>
                <select class="govuk-select govuk-!-width-three-quarters" id="address-select" name="address-select">
                  <option>5 addresses found</option>
                  <option>1 Main Street, London, {{ data['postcode'] }} </option>
                  <option>2 Main Street, London, {{ data['postcode'] }} </option>
                  <option>3 Main Street, London, {{ data['postcode'] }} </option>
                  <option>4 Main Street, London, {{ data['postcode'] }} </option>
                  <option>5 Main Street, London, {{ data['postcode'] }} </option>
                </select>
              </p>
            </div>
        </div>

        <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text togglePostcode" id="address-manual">
                  Enter your client's correspondence address manually
                </span>
                <span class="govuk-details__summary-text govuk-visually-hidden togglePostcode" id="address-not-listed">
                  I can't find the address in the list
                </span>
              </summary>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-1">
                    Building and street
                    <span class="govuk-visually-hidden">line 1 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-2">
                    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-town">
                    Town or city
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-county">
                    County
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-postcode">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
                </div>
        </details>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group" data-module="govuk-radios">
          <label class="govuk-label govuk-label--m" for="marriage-civil-partnership">
            Does your client have a partner?
          </label>
          <div id="marriage-civil-partnership-hint" class="govuk-hint">
            By partner we mean someone they are married to, in a civil partnership with, cohabit with or otherwise share finances.
          </div>
          <div class="govuk-radios__item">
            <!-- REMEMBER: data-aria-controls -->
            <input class="govuk-radios__input" id="marriage-civil-partnership-1" name="marriage-civil-partnership" type="radio" value="yes" data-aria-controls="conditional-yes">
            <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
              Yes
            </label>
          </div>
          <!-- START: CONDITIONAL REVEAL -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes"> <!-- id needs to match data-aria-controls -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="marriage-civil-partnership">
                Full name
              </label>
              <textarea class="govuk-input govuk-input--width-20" id="partner-full-name" name="partner-full-name" rows="5" aria-describedby="partner-full-name">
              </textarea>
            </div>
          </div>
          <div class="govuk-form-group">
          <!-- END: CONDITIONAL REVEAL  -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="marriage-civil-partnership-2" name="marriage-civil-partnership" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-2">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Does your client have any other criminal cases or charges still in progress?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <!-- REMEMBER: data-aria-controls -->
                <input class="govuk-radios__input" id="criminal-charges-1" name="criminal-charges" type="radio" value="yes" data-aria-controls="criminal-charges-yes">
                <label class="govuk-label govuk-radios__label" for="criminal-charges">
                  Yes
                </label>
              </div>
              <!-- START: CONDITIONAL REVEAL -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="criminal-charges-yes"> <!-- id needs to match data-aria-controls -->
                <div class="govuk-form-group">
                  <label class="govuk-label" for="criminal-charges">
                    Enter details
                  </label>
                  <textarea class="govuk-textarea" id="criminal-charges-detail" name="criminal-charges-detail" rows="5" aria-describedby="criminal-charges-hint">
                  </textarea>
                </div>
              </div>
              <div class="govuk-form-group">
              <!-- END: CONDITIONAL REVEAL  -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="criminal-charges-2" name="criminal-charges" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="criminal-charges">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Is your client on remand?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remand-1" name="remand" type="radio" value="yes" data-aria-controls="remand-yes">
                <label class="govuk-label govuk-radios__label" for="remand">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="remand-yes"> <!-- id needs to match data-aria-controls -->
                <div class="govuk-form-group">
                  <label class="govuk-label" for="remand">
                    Date your client was remanded
                  </label>
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="remand-hint">
                      <div id="remand-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </div>
                      <div class="govuk-date-input" id="reamand-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="remand-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="remand-issued-day" name="remand-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="remand-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="remand-issued-month" name="remand-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="remand-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="remand-issued-year" name="remand-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>

                    </fieldset>
                  </div>


                </div>
              </div>
              <div class="govuk-form-group">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remand-2" name="remand" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="remand">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>



        </div>
          <input type="hidden" name="client_details[]" value="completed">
          <button type="submit" class="govuk-button button-left">
            Save and continue
          </button>
    </form>
    <form class="form inline-form" action="/tasklist" method="post">
      <input type="hidden" name="client_details[]" value="completed">
      <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
    </form>
    </div>
  </div>

{% endblock %}
