{% extends "layout.html" %}

{% block content %}


<style media="screen">
.govuk-checkboxes--small .govuk-checkboxes__label::before{
  /*top: 10px;
  left: 9px;
  width: 24px;
  height: 24px;*/
}
.govuk-checkboxes--small .govuk-checkboxes__label{
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.moj-badge{
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0.5px;
}

table .govuk-tag {
  white-space: nowrap;
  color: white;
  background-color: #85994b;
  border: 2px solid #85994b;
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
}
.inprogress{
  background-color: #005ea5 !important;
  border-color: #005ea5 !important;
}
.granted{
  background-color: #0b0c0c !important;
  border-color: #0b0c0c !important;
}

.col_bespoke{
  width:auto;
}
.govuk-table__header{
  color: #0b0c0c;
  /*background-color: #dee0e2;*/
  background-color: #f3f2f1;
  border: 1px solid #bfc1c3;
  box-shadow: 0 2px 0 #b5babe;
  padding-left: 10px;
  text-align: left;
  font-weight: 100;
}
.th_bespoke{
  padding-right: 15px;
  position: relative;
}
.th_bespoke::before{
  /*down*/
  content:" \25bc";
  position: absolute;
  right: -1px;
  top: 11px;
  font-size: 0.6em;
}
.th_bespoke::after{
  /*up*/
  content:" \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.6em;
}
.th_bespoke_hover:hover{
  background-color: #c8cacb;
  cursor:pointer;
}
.govuk-table__head{
  position: relative;
}
.govuk-table__cell{
  padding-left: 10px;
}

</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="tasklist" class="govuk-button govuk-button--start">
      Make a new application
    </a>
  </div>

</div>

<div class="govuk-!-padding-top-6"></div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Current applications</h3>
  </div>

  <!-- <div class="govuk-!-padding-top-3"></div> -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col"><span class="th_bespoke">Name</span></th>
            <th class="govuk-table__header th_bespoke_hover col_bespoke" scope="col"><span class="th_bespoke">Start date</span></th>
            <th class="govuk-table__header th_bespoke_hover" style="width:auto" scope="col"><span class="th_bespoke">LAA reference</span></th>
            <th class="govuk-table__header th_bespoke_hover col_bespoke govuk-table__cell--numeric"  scope="col" style="padding-right:10px !important; text-align:right !important"><span  class="th_bespoke">Status</span></th>
            <th class="govuk-table__header th_bespoke_hover col_bespoke govuk-table__cell--numeric"  scope="col" style="padding-right:10px !important; text-align:right !important"><span  class="th_bespoke">Action</span></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for application in applications -%}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/tasklist/{{ application.id }}">{{ application.name }}</a></td>
            <td class="govuk-table__cell">{{ application.date }}</td>
            <td class="govuk-table__cell">{{ application.reference }}</td>
            <!-- <td class="govuk-table__cell">Substantive</td> -->
            {% if application.status == 'completed' %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">
                Submitted
              </strong></td>
            {% elif application.status == 'updated' %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--red">
                Amended
              </strong></td>
            {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--blue">
                In progress
              </strong></td>
            {% endif %}
            <td class="govuk-table__cell">
              <a href="/delete/{{ application.id }}" class="govuk-button govuk-button--secondary">Delete</a>
            </td>
          </tr>
         {%- endfor %}
       </tbody>
     </table>
   </div>
  </div>

{% endblock %}
