{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="dependant_add" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Does your client have any children who  depend on them for financial support?
                </h1>
              </legend>

              <div class="govuk-inset-text">Do not include children over 18 years old.</div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="dependants-1" name="dependants" type="radio" value="yes" data-aria-controls="dependants-yes">
                      <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
                        Yes
                      </label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="dependants-yes"> <!-- id needs to match data-aria-controls -->
                      <p class="govuk-heading-s">Child 1</p>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="dependants-1">
                          Date of birth
                        </label>
                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <div id="passport-issued-hint" class="govuk-hint">
                              For example, 27 3 2007
                            </div>
                            <div class="govuk-date-input" id="dependant-date-of-birth">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="dependant-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-day" name="dependant-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="dependant-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dependant-month" name="dependant-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="dependant-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dependant-year" name="dependant-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-!-padding-bottom-4"></div>
                              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Add another child
                              </button>
                            </div>

                          </fieldset>
                        </div>


                      </div>
                    </div>
                    <div class="govuk-form-group">

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="dependants-2" name="dependants-2" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="dependants-2">
                        No
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>

              <div class="govuk-!-padding-bottom-4"></div>

              <a href="/outgoings"
               <button type="submit" class="govuk-button">
                Save and continue
               </button>
              </a>


              <a href="/tasklist" role="button" class="govuk-button draft-button">
              Save and come back later</a>


              </form>

              </div>

    </div>


{% endblock %}
