{% extends "layout.html" %}

{% block content %}
  <div class="flash-card">
    <header>
      <h1 class="govuk-heading-l">DWP records show that your client receives a passporting benefit</h1>
    </header>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if mvp == true %}
          <form class="form" action="/case_details_urn" method="post">
        {% else %}
          <form class="form" action="/tasklist" method="post">
        {% endif %}
          <p>
            <input type="hidden" name="[benefits_status][checkpoint]" value="completed">
            <button class="govuk-button button-left" data-module="govuk-button">
              Save and continue
            </button>
          </p>
        </form>
        <form class="form inline-form" action="/tasklist" method="post">
          <input type="hidden" name="[benefits_status][checkpoint]" value="completed">
          <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
        </form>
      </div>
    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <p><a href="/dwp_loading" style="color: #b7b7b7;">If DWP checks takes a while</a></p>

  <p><a href="/dwp_loading" style="color: #b7b7b7;">  If DWP checks are undertermined or client is non passported</a></p>

{% endblock %}
