{% extends "layout.html" %}

{% block content %}


  <div class="flash-card">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <header>
          <h1 class="govuk-heading-l">DWP records show that your client does not receive a passporting benefit – is this correct?</h1>
        </header>
        <form action="/dwp_nonpassported" method="post" class="form">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <!-- REMEMBER: data-aria-controls -->
                  <input class="govuk-radios__input" style="color: #fff" id="not-passported-1" name="not-passported" type="radio" value="yes" data-aria-controls="conditional-yes">
                  <label style="color: #fff;" class="govuk-label govuk-radios__label" for="not-passported-1">
                    Yes
                  </label>
                </div>
                <!-- START: CONDITIONAL REVEAL -->
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes"> <!-- id needs to match data-aria-controls -->
                  <div class="govuk-form-group">
                    <label style="color: #fff;" class="govuk-label" for="not-passported-1">
                      We'll check your client's details with HM Revenue and Customs (HMRC). You'll need to review your client's employment details later on.
                    </label>
                  </div>
                </div>
                <div class="govuk-form-group">
                <!-- END: CONDITIONAL REVEAL  -->
              <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="not-passported-2" name="not-passported" type="radio" value="no">
                 <label style="color: #fff;" class="govuk-label govuk-radios__label" for="not-passported-2">
                   No, my client receives a passporting benefit
                 </label>
              </div>
            </div>
          <div class="govuk-!-padding-bottom-4"></div>


        <div class="govuk-!-padding-bottom-4"></div>
        <input type="hidden" name="means_assessment[benefits_status][passported]" value="false">
        <input type="hidden" name="[benefits_status][checkpoint]" value="completed">
        <button type="submit" class="govuk-button button-left">
          Save and continue
        </button>
      </form>
      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="means_assessment[benefits_status][passported]" value="false">
        <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
      </form>
      </div>
    </div>
  </div>


{% endblock %}
