{% extends "layout.html" %}

{% block content %}
  <div class="flash-card">
    <header>
      <h1 class="govuk-heading-l">HMRC records show that your client is employed</h1>
    </header>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form" action="/hmrc_data" method="post">
          <p>
            <input type="hidden" name="[hmrc_record][checkpoint]" value="completed">
            <button class="govuk-button button-left" data-module="govuk-button">
              Save and continue
            </button>
          </p>
        </form>
        <form class="form inline-form" action="/tasklist" method="post">
          <input type="hidden" name="[hmrc_record][checkpoint]" value="completed">
          <button class="govuk-button" data-module="govuk-button">
            Save and come back later
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
