{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Is your's client gross annual income below £12,475?</h1>

      <div class="govuk-inset-text">
          You need to consider the money they received before tax or any other deductions have been taken off.
      </div>

      <form class="form" action="/hmrc_record" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-1" name="means_assessment[benefits_status][below_income_threshold]" type="radio" value="yes" {{ checked("['means_assessment']['benefits_status']['above_income_threshold']", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-case-2" name="means_assessment[benefits_status][below_income_threshold]" type="radio" value="no" {{ checked("['means_assessment']['benefits_status']['above_income_threshold']", "no") }}>
                <label class="govuk-label govuk-radios__label" for="type-of-case-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <input type="hidden" name="[income][checkpoint]" value="completed">
        <button class="govuk-button button-left" data-module="govuk-button">Save and continue</button>
      </form>
      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="[income][checkpoint]" value="completed">
        <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
      </form>

    </div>
  </div>

  <p><a href="/hmrc_record" style="color: #b7b7b7;">Continue to above £12,475</a></p>


{% endblock %}
