
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for criminal legal aid - frontend prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for criminal legal aid
        <span class="govuk-caption-xl">Prototype</span>
      </h1>{{releaseVersion | log }}
      <p>
        This is a prototype of a service that allows users to submit applications for criminal legal aid.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/laa_portal?mvp=true">Start an application (MVP)</a>
        </li>
        <li>
          <a href="/laa_portal?mvp=false">Start an application (beyond MVP)</a>
        </li>
        <li>
          <a href="/provider-csm">Inject application data from external system</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
