
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for criminal legal aid - frontend prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for criminal legal aid
        <span class="govuk-caption-xl">Prototype</span>
      </h1>{{releaseVersion | log }}

            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                This prototype is not up to date.
              </p>
              <p class="govuk-body">The MVP user flow is correct but some designs have changed. For the latest designs, <a class="govuk-notification-banner__link" href="https://www.figma.com/file/thkvnDBbQbHlSqzt1TE3lk/Crime-Apply">view Figma</a> or <a class="govuk-notification-banner__link" href="https://laa-apply-for-criminal-legal-aid-staging.apps.live.cloud-platform.service.justice.gov.uk">view staging</a> (u: apply p:crime.mvp).</p>
            </div>
            </div>

      <p>
        This is a prototype of a service that allows users to submit applications for criminal legal aid.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/laa_portal?mvp=true">Start an application (MVP)</a>
        </li>
        <li>
          <a href="/laa_portal?mvp=false">Start an application (beyond MVP)</a>
        </li>
        <li>
          <a href="/provider-csm">Inject application data from external system</a>
        </li>
        <li>
          <a href="/tasklist">Tasklist</a>
        </li>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
