{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/application_cert_review" method="post" class="form">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="ioj-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Why should your client get legal aid?
                </h1>
              </legend>
              <div id="ioj-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-1" name="interests_of_justice[]" type="checkbox" value="liberty" data-aria-controls="lose_liberty-yes" {% if data['interests_of_justice'] and 'liberty' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-1">
                    It is likely that they will lose their liberty if any matter in the proceedings is decided against them.
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-2" name="interests_of_justice[]" type="checkbox" value="suspended_sentence" data-aria-controls="non_custodial-yes" {% if data['interests_of_justice'] and 'suspended_sentence' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-2">
                    They have been given a sentence that is suspended or non-custodial. If they break this, the court may be able to deal with them for the original offence.
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-3" name="interests_of_justice[]" type="checkbox" value="livelihood" data-aria-controls="lose_livelihood-yes" {% if data['interests_of_justice'] and 'livelihood' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-3">
                    It is likely that they will lose their livelihood.
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-4" name="interests_of_justice[]" type="checkbox" value="reputation" data-aria-controls="damage_to_reputation-yes" {% if data['interests_of_justice'] and 'reputation' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-4">
                    It is likely that they will suffer serious damage to their reputation.
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-5" name="interests_of_justice[]" type="checkbox" value="question_of_law" data-aria-controls="substantial_question-yes" {% if data['interests_of_justice'] and 'question_of_law' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-5">
                    A substantial question of law may be involved (whether arising from legislation, judicial authority or other source of law).
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-6" name="interests_of_justice[]" type="checkbox" value="unable_to_understand" data-aria-controls="unable_to_self_represent-yes" {% if data['interests_of_justice'] and 'unable_to_understand' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-6">
                    They may not be able to understand the court proceedings or present their own case.
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-7" name="interests_of_justice[]" type="checkbox" value="witnesses_needed" data-aria-controls="Witnesses-yes" {% if data['interests_of_justice'] and 'witnesses_needed' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-7">
                    Witnesses may need to be traced or interviewed on their behalf.
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-8" name="interests_of_justice[]" type="checkbox" value="expert_cross_examination" data-aria-controls="cross-examination-yes" {% if data['interests_of_justice'] and 'expert_cross_examination' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-8">
                    The proceedings may involve expert cross-examination of a prosecution witness (whether an expert or not).
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-9" name="interests_of_justice[]" type="checkbox" value="interests_of_another" data-aria-controls="interests-yes" {% if data['interests_of_justice'] and 'interests_of_another' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-9">
                    It is in the interests of another person (such as the person making a complaint or other witness) that they are represented.
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ioj-10" name="interests_of_justice[]" type="checkbox" value="ioj_other" data-aria-controls="other-yes" {% if data['interests_of_justice'] and 'ioj_other' in data['interests_of_justice'] %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="ioj-10">
                    Other
                  </label>
                </div>
              </div>

            </fieldset>
        </div>

        <button type="submit" class="govuk-button button-left">
          Save and continue
        </button>
      </form>
      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="[interests_of_justice][checkpoint]" value="completed">
        <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
      </form>

    </div>
  </div>





{% endblock %}
