{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ super() }}
{% endblock %}


{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "includes/scripts.html" %}
{% endblock %}
