{% extends "layout.html" %}

{% block content %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What does your client want legal aid for?
      </h1>
    </legend>

    <div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership" name="marriage-civil-partnership" type="radio" value="never">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
          Homicide and related grave offences
          <div id="sign-in-hint" class="govuk-hint">
            Class A
          </div>
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-2" name="marriage-civil-partnership" type="radio" value="married">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-2">
          Offences involving serious violence or damage, and serious drugs offences
          <div id="sign-in-hint" class="govuk-hint">
            Class B
          </div>
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-3" name="marriage-civil-partnership" type="radio" value="civil-partnership">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-3">
          Lesser offences involving violence or damage, and less serious drugs offences
          <div id="sign-in-hint" class="govuk-hint">
            Class C
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-4" name="marriage-civil-partnership" type="radio" value="separated-married">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-4">
          Sexual offences and offences against children
          <div id="sign-in-hint" class="govuk-hint">
            Class D
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-5" name="marriage-civil-partnership" type="radio" value="separated-civil-partnership">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-5">
          Burglary
          <div id="sign-in-hint" class="govuk-hint">
            Class E
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-6" name="marriage-civil-partnership" type="radio" value="divorced">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-6">
          Other offences of dishonesty (specified offences and offences where the value is £30,000 or less)
          <div id="sign-in-hint" class="govuk-hint">
            Class F
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-7" name="marriage-civil-partnership" type="radio" value="dissolved-civil-partnership">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-7">
          Other offences of dishonesty (specified offences and offences where the value involved exceeds £30,000 but does not exceed £100,000)
          <div id="sign-in-hint" class="govuk-hint">
            Class G
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-8" name="marriage-civil-partnership" type="radio" value="widowed">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-8">
          Miscellaneous other offences
          <div id="sign-in-hint" class="govuk-hint">
            Class H
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-9" name="marriage-civil-partnership" type="radio" value="widowed-civil-partnership">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-9">
          Offences against public justice and similar offences
          <div id="sign-in-hint" class="govuk-hint">
            Class I
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-11" name="marriage-civil-partnership" type="radio" value="skip">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-11">
          Serious sexual offences
          <div id="sign-in-hint" class="govuk-hint">
            Class J
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="marriage-civil-partnership-11" name="marriage-civil-partnership" type="radio" value="skip">
        <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-11">
          Other offences of dishonesty (high value: if the value involved exceeds £100,000)
          <div id="sign-in-hint" class="govuk-hint">
            Class K
          </div>
        </label>
      </div>
    </div>

  </fieldset>
</div>


<a href="/ioj"
<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
</a>

{% endblock %}
