{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="restrictions" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="assets">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
              Which of the following assets does your client have?
                </h1>
              </legend>

       <span class="govuk-hint">Select all that apply.</span>

       <div class="govuk-!-padding-bottom-4"></div>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="assets-2" name="assets-2" type="checkbox" value="second-property" data-aria-controls="conditional-2" {{ checked("second-property","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="assets-2">
                    Second property or holiday home
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="assets-2">
                      Enter the estimated value
                    </label>
                    <!-- WRAPPER STARTS -->
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£
                      </div>
                      <input class="govuk-input govuk-input--width-5" id="assets-2-cost" name="assets-2-cost" type="text" spellcheck="false">
                    </div>
                    <!-- WRAPPER ENDS -->
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="assets-2">
                      Enter the outstanding mortgage amount
                    </label>
                    <!-- WRAPPER STARTS -->
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£
                      </div>
                      <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
                    </div>
                    <!-- WRAPPER ENDS -->
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="assets-2">
                      Enter the share your client owns
                    </label>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="assets-2-weight" name="assets-2-weight" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">%</div>
                    </div>
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="assets-3" name="assets-3" type="checkbox" value="overseas" data-aria-controls="conditional-3" {{ checked("overseas","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="assets-3">
                    Money overseas
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="assets-3">
                      Enter the estimated value
                    </label>
                    <!-- WRAPPER STARTS -->
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£
                      </div>
                      <input class="govuk-input govuk-input--width-5" id="assets-3-cost" name="assets-3-cost" type="text" spellcheck="false">
                    </div>
                    <!-- WRAPPER ENDS -->
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="assets-4" name="assets-4" type="checkbox" value="timeshare" data-aria-controls="conditional-4" {{ checked("timeshare","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="assets-4">
                    Timeshare property
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-4">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="assets-4">
                      Enter the value, minus any loan and sale costs
                    </label>
                    <!-- WRAPPER STARTS -->
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£
                      </div>
                      <input class="govuk-input govuk-input--width-5" id="assets-4-cost" name="assets-4-cost" type="text" spellcheck="false">
                    </div>
                    <!-- WRAPPER ENDS -->
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="assets-5" name="assets-5" type="checkbox" value="land" data-aria-controls="conditional-5" {{ checked("land","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="assets-5">
                    Land
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-5">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="assets-5">
                      Enter the estimated value
                    </label>
                    <!-- WRAPPER STARTS -->
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£
                      </div>
                      <input class="govuk-input govuk-input--width-5" id="assets-5-cost" name="assets-5-cost" type="text" spellcheck="false">
                    </div>
                    <!-- WRAPPER ENDS -->
                  </div>
                </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="assets-6" name="assets-6" type="checkbox" value="trust" data-aria-controls="conditional-6" {{ checked("trust","yes") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="assets-6">
                        Interest in a trust
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-6">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="assets-6">
                          Enter the estimated total value
                        </label>
                        <!-- WRAPPER STARTS -->
                        <div class="govuk-input__wrapper">
                          <div class="govuk-input__prefix" aria-hidden="true">£
                          </div>
                          <input class="govuk-input govuk-input--width-5" id="assets-6-cost" name="assets-6-cost" type="text" spellcheck="false">
                        </div>
                        <!-- WRAPPER ENDS -->
                      </div>
                      </div>

                      <p class="govuk-body">or</p>

                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="assets-7" name="assets-7" type="checkbox" value="none">
                        <label class="govuk-label govuk-checkboxes__label" for="assets-7">
                          None of these
                        </label>
                      </div>
              </div>
            </fieldset>
          </div>

            <button type="submit" class="govuk-button">
              Save and continue
            </button>

            <a href="/tasklist" role="button" class="govuk-button draft-button">
            Save and come back later</a>

        </form>
      </div>
    </div>

{% endblock %}
