{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="check_answers_citizen" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which regular payments does your client make?
                </h1>
              </legend>

              <span id="changed-name-hint" class="govuk-hint">Select all that apply.</span>

              <div class="govuk-!-padding-bottom-4"></div>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("antiques","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                    Housing payments
                  </label>
                  <span id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">
                    For example, rent, mortgage or board and lodging.
                  </span>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1">
                  <div class="govuk-form-group">
                    <span id="account-number-hint" class="govuk-hint">
                    Enter the total cash amount you paid each month, or enter 0 if you paid none.
                    </span>
                    <label class="govuk-label" for="antiques-value">
                      February 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                      January 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                      December 2020
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-0" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-0" {{ checked("antiques","yes") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                      Council Tax
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-0">
                    <div class="govuk-form-group">
                      <span id="account-number-hint" class="govuk-hint">
                      Enter the total cash amount you paid each month, or enter 0 if you paid none.
                      </span>
                      <label class="govuk-label" for="antiques-value">
                        February 2021
                      </label>
                      <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                      <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="antiques-value">
                        January 2021
                      </label>
                      <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                      <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="antiques-value">
                        December 2020
                      </label>
                      <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                      <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                    </div>
                    </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("antiques","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    Childcare payments
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
                  <div class="govuk-form-group">
                    <span id="account-number-hint" class="govuk-hint">
                    Enter the total cash amount you paid each month, or enter 0 if you paid none.
                    </span>
                    <label class="govuk-label" for="antiques-value">
                    February 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                    January 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                    December 2020
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-3" {{ checked("antiques","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                    Maintenance payments
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <span id="account-number-hint" class="govuk-hint">
                    Enter the total cash amount you paid each month, or enter 0 if you paid none.
                    </span>
                    <label class="govuk-label" for="antiques-value">
                    February 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                    January 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                    December 2020
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-4" name="antiques" type="checkbox" value="yes" data-aria-controls="conditional-citizenship-conditional-4" {{ checked("antiques","yes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-4">
                    Payments towards legal aid in a criminal or civil case
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-4">
                  <div class="govuk-form-group">
                    <span id="account-number-hint" class="govuk-hint">
                    Enter the total cash amount you paid each month, or enter 0 if you paid none.
                    </span>
                    <label class="govuk-label" for="antiques-value">
                    February 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                    January 2021
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="antiques-value">
                    December 2020
                    </label>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-currency-input__inner">£</span>
                    <input class="govuk-input govuk-!-width-one-third govuk-currency-input__input" id="antiques-value" name="antiques-value" type="text">
                  </div>
                </div>

               <p class="govuk-body">or</p>

               <div class="govuk-checkboxes__item">
                 <input class="govuk-checkboxes__input" id="citizenship-conditional-7" name="estates" type="checkbox" value="yes">
                 <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-7">
                  None of the above
                 </label>
               </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-!-padding-bottom-4"></div>

          <a href="/property"
           <button type="submit" class="govuk-button">
            Save and continue
           </button>
          </a>

          <a href="/tasklist" role="button" class="govuk-button draft-button">
          Save and come back later</a>

                  </form>
                </div>
              </div>


{% endblock %}
