{% extends "layout.html" %}

{% block content %}

<div class="flash-card">
  <header>
    <h1 class="govuk-heading-l">DWP records show that your client receives a passporting benefit</h1>
  </header>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p>
        <a href="/application_cert_review" role="button" class="govuk-button right">
          Continue</a>
        <a href="#" role="button" class="govuk-button draft-button">
        Save and come back later</a>
      </p>

    </div>
  </div>
</div>

{% endblock %}
