{% extends "layout.html" %}

{% block content %}

<style media="screen">
td:first-child {
  font-weight: bold !important;
}
th {
  /*font-weight: normal !important;*/
}
dt:first-child{
  font-weight: bold;
}
th:first-child {
  font-weight: bold;
}
.govuk-header {
  display: none;
}
.govuk-heading-xl{
  font-size: 32px;
}
.govuk-heading-l{
  font-size: 26px;
}
.govuk-heading-m{
  font-size: 19px;
}
.app-check-your-answers__question {
  font-size: 16px;
}
.app-check-your-answers__answer{
  font-size: 16px;
}
.govuk-summary-list__key {
  font-size: 16px;
}
.govuk-summary-list__value {
  font-size: 16px;
}


.govuk-table__cell{
  font-size: 16px;
}

.logo-line {
  display: inline-block;
  border-left: 2px #231f20 solid;
  height: 30px;
}
.logo-type {
  display: inline;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 26px;
  color: #231f20;
  position: relative;
  top: -5px;
  padding-left: 5px;
}
.header-info {
  /*margin-left: 40px;
  display: inline-block;
  position: relative;
  top:-5px;*/
}
.pagination{
  float: right;
}
.header-info > p {
  font-size: 16px;
}
</style>

<div class="govuk-grid-row" style="width:80%">
  <div class="print-header">
    <div class="header-info">
      <p>Client: <strong>Sam Doe</strong> &nbsp; LAA reference: <strong>L-23A-56D</strong> &nbsp; Date stamp: <strong>22 April 2022 2:45pm</strong><span class="pagination"> <i>[Page <strong>1 of 3</strong>]</i></span>
      </p>
    </div>
  </div>
  <div class="govuk-!-padding-bottom-4"></div>
  <div>
    <div class="logo-line"></div>
    <img src="/public/images/crest.svg" alt="" height="30px"</>
    <h1 class="logo-type">Legal Aid Agency</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-top-1">
      Application for criminal legal aid 
    </h1>

    <h2 class="govuk-heading-m">
    Client details
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">First name</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Sam</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Last name</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Doe</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Other names</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">None</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Date of birth</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1 January 1980</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">National Insurance number</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">JA293483A</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">UK telephone number</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">07418028044</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Home address</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1 Main Street<br>London<br>SE15 5NP</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Correspondence address</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Same as home address</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Passporting benefit</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Partner</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">No</td>
      </tr>
      </tbody>
      </table>

      <div class="govuk-!-padding-bottom-6"></div>

     <h2 class="govuk-heading-m">
       Case details
     </h2>

     <table class="govuk-table" style="margin-bottom: 15px;">
     <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">Case type</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">Summary only</td>
       </tr>
       </tbody>
       </table>

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
      Offences
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Offence 1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Attempted murder<br>Class A</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Offence 1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Conspiracy to commit murder<br>Class A</td>
      </tr>
      </tbody>
      </table>

   <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
      Offence dates
    </h2>

    <table class="govuk-table" style="margin-bottom: 15px;">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Attempted murder</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">21 May 2022</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Conspiracy to commit murder</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">21 May 2022</td>
      </tr>
      </tbody>
      </table>

    <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-m">
        Co-defendants
      </h2>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Co-defendants 1</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Jon Marks</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Conflict of interest</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Yes<br>Jon Marks</td>
        </tr>
        </tbody>
        </table>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-m">
        Justification for legal aid
      </h2>

      <table class="govuk-table" style="margin-bottom: 15px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Loss of liberty</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">My client is facing prison time</td>
        </tr>
        </tbody>
        </table>

      </div>

<div class="govuk-!-padding-bottom-6"></div>

{% endblock %}
