{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/property_details" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Does your client own the home they live in?
                </h1>
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-1" name="property" type="radio" value="yes" {{ checked("property","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="capital-1">
                    Yes, with a mortgage or loan

                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-1" name="property" type="radio" value="yes" {{ checked("property","yes") }}>
                  <label class="govuk-label govuk-radios__label" for="capital-1">
                    Yes, owned outright

                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="property-3" name="property" type="radio" value="no" {{ checked("property","no") }}>
                  <label class="govuk-label govuk-radios__label" for="property-3">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <input type="hidden" name="capital_assessment[]" value="in_progress">
        <button type="submit" class="govuk-button button-left">
          Save and continue
        </button>
      </form>
      <form class="form inline-form" action="/tasklist" method="post">
        <input type="hidden" name="capital_assessment[]" value="in_progress">
        <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
      </form>
      </div>
    </div>

{% endblock %}
