{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block content %}

  <h1 class="govuk-heading-xl">
    My clients
  </h1>


  <table class="govuk-table">

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Joe Bloggs</th>
      <td class="govuk-table__cell">12/01/2022</td>
      <td class="govuk-table__cell">074 555 7702</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=cc9faf9c-4a65-4383-8ec1-b08f6c65ac0c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Mary Smith</th>
      <td class="govuk-table__cell">08/02/2022</td>
      <td class="govuk-table__cell">416 397 9121</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">John Williams</th>
      <td class="govuk-table__cell">27/01/2022</td>
      <td class="govuk-table__cell">234 209 5582</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=4ccd3e44-b534-48d9-8cee-8a4eada06a93">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Ben Freeman</th>
      <td class="govuk-table__cell">04/01/2022</td>
      <td class="govuk-table__cell">074 793 3568</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Martin Smith</th>
      <td class="govuk-table__cell">21/02/2022</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Jon Hendrix</th>
      <td class="govuk-table__cell">27/02/2022</td>
      <td class="govuk-table__cell">254 549 5561</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Paul Barrett</th>
      <td class="govuk-table__cell">22/01/2022</td>
      <td class="govuk-table__cell">074 797 5883</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Jaslyn Avila</th>
      <td class="govuk-table__cell">28/02/2022</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Holden Espinoza</th>
      <td class="govuk-table__cell">09/01/2022</td>
      <td class="govuk-table__cell">074 295 3551</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Arjun Callahan</th>
      <td class="govuk-table__cell">13/02/2022</td>
      <td class="govuk-table__cell">265 205 3084</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Ronan Moran</th>
      <td class="govuk-table__cell">08/02/2022</td>
      <td class="govuk-table__cell">161 596 4236</td>
      <td class="govuk-table__cell">
        <a href="/sign_in?id=79fec2f7-2790-42a9-b092-b1308afa4a6c">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start application
        </button>
        </a>
      </td>
    </tr>

  </tbody>
</table>


{% endblock %}
