{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Is your client on remand?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership" name="marriage-civil-partnership" type="radio" value="never">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marriage-civil-partnership-2" name="marriage-civil-partnership" type="radio" value="married">
                <label class="govuk-label govuk-radios__label" for="marriage-civil-partnership-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <a href="/ioj"
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </a>
      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
          {
            href: "https://www.gov.uk/help/cookies",
            text: "Cookies"
          },
          {
            href: "#",
            text: "Contact"
          },
          {
            href: "#",
            text: "Feedback"
          },
          {
            href: "/privacy-policy",
            text: "Privacy policy"
          },
          {
            href: "#",
            text: "Accessibility statement"
          },
          {
            href: "#",
            text: "Terms and conditions"
          },
          {
            href: "https://mojdigital.blog.gov.uk/",
            text: "MOJ Digital Services"
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
          ]
        }
      }) }}
    {% endblock %}
