{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/means_assessment_check_answers" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Does your client have any income, savings or assets which are under a restraint order or a freezing order?
                </h1>
              </legend>

      <!-- <p class="govuk-body">For example, because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>they're bankrupt</li>
        <li>their assets are held under a restraint or freezing order</li>
      </ul> -->


      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="onlinebank-2" name="onlinebank" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("online-banking","no") }}>
                        <label class="govuk-label govuk-radios__label" for="onlinebank-1">
                          Yes
                        </label>
                      </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="onlinebank-2" name="onlinebank" type="radio" value="no" {{ checked("online-banking","no") }}>
                  <label class="govuk-label govuk-radios__label" for="onlinebank-2">
                    No
                  </label>
                </div>

              </div>

            </fieldset>
          </div>
            <input type="hidden" name="capital_assessment[]" value="completed">
            <button type="submit" class="govuk-button button-left">
              Save and continue
            </button>
          </form>
          <form class="form inline-form" action="/tasklist" method="post">
            <input type="hidden" name="capital_assessment[]" value="completed">
            <button class="govuk-button" data-module="govuk-button">Save and come back later</button>
          </form>
      </div>
    </div>

{% endblock %}
