{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="check_answers_capital_full" method="post" class="form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Is your client prohibited from selling or borrowing against their assets? 
                </h1>
              </legend>

      <p class="govuk-body">For example, because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>they're bankrupt</li>
        <li>their assets are held under a restraint or freezing order</li>
      </ul>


      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="onlinebank-2" name="onlinebank" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("online-banking","no") }}>
                        <label class="govuk-label govuk-radios__label" for="onlinebank-1">
                          Yes
                        </label>
                      </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="onlinebank-2" name="onlinebank" type="radio" value="no" {{ checked("online-banking","no") }}>
                  <label class="govuk-label govuk-radios__label" for="onlinebank-2">
                    No
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

            <button type="submit" class="govuk-button">
              Save and continue
            </button>

          <a href= "dashboard" role="button" style="margin-left: 15px;" class="govuk-button draft-button">
            Save and come back later
          </a>

        </form>
      </div>
    </div>

{% endblock %}
