{% extends "layout.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apply for criminal legal aid</h1>

        <p class="govuk-body">Use this service to apply for criminal legal aid.</p>

          <!-- <ul class="govuk-list govuk-list--bullet">
            <li>complete and submit criminal legal aid applications</li>
            <li>check if your client receives a passporting benefit</li>
            <li>get a provisional means assessment result </li>
          </ul> -->

        <p class="govuk-body">You can only use this service if your client:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>receives a passporting benefit, or is unemployed</li>
          <li>is single or their partner is a victim, prosecution witness or co-defendant with a conflict of interest</li>
        </ul>

        <p class="govuk-body">Use eForms for all other applications.</p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">We'll ask you for your client's National Insurance number and the case unique reference number (URN).</p>
        <p> If you cannot provide them, you'll need to answer additional questions and may need to submit additional evidence.</p>

        <a href="/account_number" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Start
        </a>


<!--Not sure if Welsh is needed for provider service

<p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>
-->

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/legal-aid">
                Legal aid
              </a>
              </li>
              <li>
                <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>

{% endblock %}
