{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/application_cert_review" method="post" novalidate>

          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">

              <h1 class="govuk-heading-xl">Upload supporting evidence</h1>

              <p class="govuk-body">Use this page to upload:</p>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>evidence that your client receives Universal Credit</li>
                    <li>evidence of your client's employment</li>
                  </ul>

            </label>
          </div>


          <div class="document-upload">
            <form action="/check_answers_final" method="post" enctype="multipart/form-data">

              <div class="moj-multi-file-upload">
                <div class="moj-multi-file__uploaded-files">
                  <h2 class="govuk-heading-m">Files added</h2>
                  <div class="govuk-summary-list moj-multi-file-upload__list">

                  </div>
                </div>

                <div class="moj-multi-file-upload__upload">

                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="documents">
                      Upload files
                      <div id="more-detail-hint" class="govuk-hint">
                        The maximum file size is 8MB.</div>
                    </label>

                    <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
                  </div>

                  <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                    Upload file
                  </button>

                </div>
              </div>
          <input type="hidden" name="[evidence][checkpoint]" value="completed">
          <button type="submit" class="govuk-button button-left">
            Save and continue
          </button>

        </form>

        <form class="form inline-form" action="/tasklist" method="post">
          <input type="hidden" name="[evidence][checkpoint]" value="completed">
          <button class="govuk-button" data-module="govuk-button">Save and come back later
          </button>
        </form>
      </div>
    </div>
</div>

{% endblock %}
